<p-toast></p-toast>

<h4>{{ '::Admin:ContractedInstitution:ContractedInstitutionManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple
                label="{{ '::Admin:ContractedInstitution:NewContractedInstitution' | abpLocalization }}"
                icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewContractedInstitution()"
                [loading]="loading"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="contractedInstitutionList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description']" [tableStyle]="{'min-width': '75rem'}" [rowHover]="true"
        dataKey="Id" [loading]="loading"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{ '::Admin:ContractedInstitution:Column:Name' | abpLocalization }}
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="phoneNumber">{{ '::Admin:ContractedInstitution:Column:PhoneNumber' |
                    abpLocalization }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:ContractedInstitution:Column:EMail' |
                    abpLocalization }} <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="webSite">{{ '::Admin:ContractedInstitution:Column:WebSite' |
                    abpLocalization }} <p-sortIcon field="webSite"></p-sortIcon></th>
                <th pSortableColumn="address">{{ '::Admin:ContractedInstitution:Column:Address' |
                    abpLocalization }} <p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="nationality?.Name">{{ '::Admin:ContractedInstitution:Column:Country' |
                    abpLocalization }} <p-sortIcon field="nationality?.Name"></p-sortIcon></th>
                <th pSortableColumn="description">{{ '::Admin:ContractedInstitution:Column:Description' |
                    abpLocalization }} <p-sortIcon field="description"></p-sortIcon></th>
                <th>{{ '::Admin:ContractedInstitution:Column:Staffs' |
                    abpLocalization }}</th>
                <th>{{ '::Admin:ContractedInstitution:Column:IsActive' | abpLocalization }}</th>
                <th style="width:11rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contractedInstitution>
            <tr>
                <td>{{contractedInstitution.name}}</td>
                <td>{{contractedInstitution.phoneCountryCode?.phoneCode ??
                    contractedInstitution.phoneCountryCode?.phoneCode + ' '}}{{contractedInstitution.phoneNumber}}</td>
                <td>{{contractedInstitution.email}}</td>
                <td>{{contractedInstitution.site}}</td>
                <td>{{contractedInstitution.address}}</td>
                <td>{{contractedInstitution.nationality?.name}}</td>
                <td>{{contractedInstitution.description}}</td>
                <td><div [innerHTML]="!contractedInstitution.staffNames ? '-': contractedInstitution.staffNames"></div></td>
                <td><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': contractedInstitution.isActive, 'text-red-500 pi-times-circle': !contractedInstitution.isActive }"></i>
                </td>
                <td class="text-right">
                    <button pButton pRipple icon="pi pi-users" class="p-button-rounded p-button-info"
                        (click)="openStaffDialog(contractedInstitution)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success ml-2"
                        (click)="editContractedInstitution(contractedInstitution)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning ml-2"
                        (click)="deleteContractedInstitution(contractedInstitution)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="contractedInstitutionDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:ContractedInstitution:ContractedInstitutionDetails' | abpLocalization }}" [modal]="true"
    styleClass="p-fluid">
    <form #contractedInstitutionForm="ngForm">
        <div *ngIf="contractedInstitution">
            <div class="field">
                <label for="name">{{ '::Admin:ContractedInstitution:Column:Name' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <input type="text" pInputText id="name" name="name" #name="ngModel"
                    [(ngModel)]="contractedInstitution.name" required autofocus />
                <small class="p-error" *ngIf="!(name.valid || name.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization }}</small>
            </div>

            <div class="field">
                <label for="phoneCountryCode">{{ '::Admin:ContractedInstitution:Column:PhoneNumber' | abpLocalization
                    }}</label>
                <div class="flex">
                    <p-dropdown id="phoneCountryCode" name="phoneCountryCode" [filter]="true" filterBy="name"
                        [showClear]="true" #phoneCountryCode="ngModel" [options]="nationalityList"
                        [(ngModel)]="contractedInstitution.phoneCountryCodeId"
                        [style]="{'width':'100px', 'margin-right':'10px', 'display':'inline-flex'}"
                        styleClass="filterDropDown" optionValue="id" placeholder="{{ '::Select' | abpLocalization }}"
                        optionLabel="phoneCode" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                        emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                        <ng-template let-country pTemplate="item">
                            <div><b>{{ country.phoneCode }}</b> - {{ country.name }}</div>
                        </ng-template>
                    </p-dropdown>
                    <p-inputMask id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [unmask]="true"
                        mask="(999) 999-9999" [(ngModel)]="contractedInstitution.phoneNumber"
                        placeholder="(999) 999-9999"
                        styleClass="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"></p-inputMask>
                </div>
            </div>
            <div class="field">
                <label for="email">{{ '::Admin:ContractedInstitution:Column:EMail' | abpLocalization }}</label>
                <input type="text" pInputText id="email" name="email" #email="ngModel" email="true"
                    [pattern]="emailPattern" [(ngModel)]="contractedInstitution.email" />
                <small class="p-error" *ngIf="email.errors?.email">{{ '::Message:WrongEmailFormat' |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="webSite">{{ '::Admin:ContractedInstitution:Column:WebSite' | abpLocalization }}</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-globe"></i>
                    </span>
                    <input type="text" pInputText id="webSite" name="webSite" #webSite="ngModel"
                        [(ngModel)]="contractedInstitution.site" />
                </div>
            </div>
            <div class="field">
                <label for="address">{{ '::Admin:ContractedInstitution:Column:Address' | abpLocalization }}</label>
                <textarea rows="2" pInputText id="address" name="address" #address="ngModel"
                    [(ngModel)]="contractedInstitution.address"></textarea>
            </div>
            <div class="field">
                <label for="country">{{ '::Admin:ContractedInstitution:Column:Country' | abpLocalization
                    }}</label>
                <p-dropdown id="country" name="country" [filter]="true" filterBy="name" [showClear]="true"
                    #country="ngModel" [options]="nationalityList" [(ngModel)]="contractedInstitution.nationalityId"
                    [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="id"
                    placeholder="{{ '::Select' | abpLocalization }}" optionLabel="name" appendTo="body"
                    emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                    emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                    <ng-template let-country pTemplate="item">
                        <div><b>{{ country.name }}</b></div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field">
                <label for="description">{{ '::Admin:ContractedInstitution:Column:Description' | abpLocalization
                    }}</label>
                <textarea rows="2" pInputText id="description" name="description" #description="ngModel"
                    [(ngModel)]="contractedInstitution.description"></textarea>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:ContractedInstitution:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel"
                        [(ngModel)]="contractedInstitution.isActive" [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveContractedInstitution()" [disabled]="!(contractedInstitutionForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="contractedInstitutionStaffDialog" [style]="{width: '80vw'}"
    header="{{ '::Admin:ContractedInstitution:ContractedInstitutionStaffManagement' | abpLocalization }}" [modal]="true"
    styleClass="p-fluid" (onHide)="refreshContractedInstitution()">
    <form #contractedInstitutionStaffForm="ngForm">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple
                    label="{{ '::Admin:ContractedInstitutionStaff:NewContractedInstitutionStaff' | abpLocalization }}"
                    icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewStaff()"
                    [loading]="loading"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="staffList" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nameSurname','phoneNumber','email']" [tableStyle]="{'min-width': '100%'}"
            [rowHover]="true" [loading]="loading"
            currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nameSurname">{{ '::Admin:ContractedInstitutionStaff:Column:NameSurname' |
                        abpLocalization }} <p-sortIcon field="nameSurname"></p-sortIcon></th>
                    <th pSortableColumn="phoneNumber">{{ '::Admin:ContractedInstitutionStaff:Column:PhoneNumber' |
                        abpLocalization }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                    <th pSortableColumn="email">{{ '::Admin:ContractedInstitutionStaff:Column:EMail' | abpLocalization
                        }} <p-sortIcon field="email"></p-sortIcon></th>
                    <th>{{ '::Admin:ContractedInstitutionStaff:Column:IsDefault' | abpLocalization }}</th>
                    <th>{{ '::Admin:ContractedInstitutionStaff:Column:IsActive' | abpLocalization }}</th>
                    <th style="width:8rem;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-staff let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="staff">
                    <td>{{staff.nameSurname}}</td>
                    <td>{{staff.phoneCountryCode?.phoneCode ?? staff.phoneCountryCode?.phoneCode + '
                        '}}{{staff.phoneNumber}}</td>
                    <td>{{staff.email}}</td>
                    <td><i class="pi"
                            [ngClass]="{ 'text-green-500 pi-check-circle': staff.isDefault, 'text-red-500 pi-times-circle': !staff.isDefault }"></i>
                    </td>
                    <td><i class="pi"
                            [ngClass]="{ 'text-green-500 pi-check-circle': staff.isActive, 'text-red-500 pi-times-circle': !staff.isActive }"></i>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editStaff(staff)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteStaff(staff)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div class="m-3">
                    {{ '::Table:EmptyMessage' | abpLocalization }}
                </div>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between" *ngIf="staffTotalRecords > 0">
                    {{ '::Table:Summary' | abpLocalization:(staffTotalRecords) }}
                </div>
            </ng-template>
        </p-table>
    </form>
</p-dialog>

<p-dialog [(visible)]="contractedInstitutionStaffEditDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:ContractedInstitutionStaff:ContractedInstitutionStaffDetails' | abpLocalization }}"
    [modal]="true" styleClass="p-fluid">
    <form #contractedInstitutionStaffEditForm="ngForm">
        <div *ngIf="contractedInstitutionStaff">
            <div class="field">
                <label for="nameSurname">{{ '::Admin:ContractedInstitutionStaff:Column:NameSurname' | abpLocalization
                    }}&nbsp;<font style="color:red">*</font></label>
                <input type="text" pInputText id="nameSurname" name="nameSurname" #nameSurname="ngModel"
                    [(ngModel)]="contractedInstitutionStaff.nameSurname" required autofocus />
                <small class="p-error" *ngIf="!(nameSurname.valid || nameSurname.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="phoneNumber">{{ '::Admin:ContractedInstitutionStaff:Column:PhoneNumber' | abpLocalization
                    }}</label>
                <div class="flex">
                    <p-dropdown id="phoneCountryCode" name="phoneCountryCode" [filter]="true" filterBy="name"
                        [showClear]="true" #phoneCountryCode="ngModel" [options]="nationalityList"
                        [(ngModel)]="contractedInstitutionStaff.phoneCountryCodeId"
                        [style]="{'width':'100px', 'margin-right':'10px'}" styleClass="filterDropDown" optionValue="id"
                        placeholder="{{ '::Select' | abpLocalization }}" optionLabel="phoneCode" appendTo="body"
                        emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                        emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                        <ng-template let-country pTemplate="item">
                            <div><b>{{ country.phoneCode }}</b> - {{ country.name }}</div>
                        </ng-template>
                    </p-dropdown>
                    <p-inputMask id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [unmask]="true"
                        mask="(999) 999-9999" [(ngModel)]="contractedInstitutionStaff.phoneNumber"
                        placeholder="(999) 999-9999"
                        styleClass="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"></p-inputMask>
                </div>
            </div>
            <div class="field">
                <label for="email">{{ '::Admin:ContractedInstitutionStaff:Column:EMail' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <input type="text" pInputText id="email" name="email" #email="ngModel" [email]="true"
                    [(ngModel)]="contractedInstitutionStaff.email" />
                <small class="p-error" *ngIf="email.errors?.email">{{ '::Message:WrongEmailFormat' |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="isDefault">{{ '::Admin:ContractedInstitutionStaff:Column:IsDefault' | abpLocalization
                    }}</label>
                <div class="w-full">
                    <p-checkbox id="isDefault" name="isDefault" #isDefault="ngModel"
                        [(ngModel)]="contractedInstitutionStaff.isDefault" [binary]="true"></p-checkbox>
                </div>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:ContractedInstitutionStaff:Column:IsActive' | abpLocalization
                    }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel"
                        [(ngModel)]="contractedInstitutionStaff.isActive" [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideStaffDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveContractedInstitutionStaff()"
            [disabled]="!(contractedInstitutionStaffEditForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}"></p-confirmDialog>