<p-toast></p-toast>


<h4>{{ '::Admin:ContractedInstitution:ContractedInstitutionManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple
                label="{{ '::Admin:ContractedInstitution:NewContractedInstitution' | abpLocalization }}"
                icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewContractedInstitution()" [loading]="loading"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="contractedInstitutionList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description']" [tableStyle]="{'min-width': '75rem'}" [rowHover]="true"
        dataKey="Id" [loading]="loading"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{ '::Admin:ContractedInstitution:Column:Name' | abpLocalization }}
                    <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">{{ '::Admin:ContractedInstitution:Column:Description' |
                    abpLocalization }} <p-sortIcon field="description"></p-sortIcon></th>
                <th>{{ '::Admin:ContractedInstitution:Column:IsActive' | abpLocalization }}</th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contractedInstitution>
            <tr>
                <td>{{contractedInstitution.name}}</td>
                <td>{{contractedInstitution.description}}</td>
                <td><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': contractedInstitution.isActive, 'text-red-500 pi-times-circle': !contractedInstitution.isActive }"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editContractedInstitution(contractedInstitution)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteContractedInstitution(contractedInstitution)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="contractedInstitutionDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:ContractedInstitution:ContractedInstitutionDetails' | abpLocalization }}" [modal]="true"
    styleClass="p-fluid">
    <form #contractedInstitutionForm="ngForm">
        <div *ngIf="contractedInstitution">
            <div class="field">
                <label for="name">{{ '::Admin:ContractedInstitution:Column:Name' | abpLocalization }}&nbsp;<font
                    style="color:red">*</font></label>
                <input type="text" pInputText id="name" name="name" #name="ngModel"
                    [(ngModel)]="contractedInstitution.name" required autofocus />
                <small class="p-error" *ngIf="!(name.valid || name.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="description">{{ '::Admin:ContractedInstitution:Column:Description' | abpLocalization }}&nbsp;<font
                    style="color:red">*</font></label>
                <input type="text" pInputText id="description" name="description" #description="ngModel"
                    [(ngModel)]="contractedInstitution.description" required />
                <small class="p-error" *ngIf="!(description.valid || description.pristine)">{{ '::Message:RequiredField'
                    | abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:ContractedInstitution:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="contractedInstitution.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveContractedInstitution()" [disabled]="!(contractedInstitutionForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}"></p-confirmDialog>