<p-toast></p-toast>

<div class="grid">
    <div class="col-2 flex justify-content-start">
        <h4>{{title}}</h4>
    </div>
    <div class="col-10 flex justify-content-end text-xs grid-nogutter">
        <div class="mr-4" *ngIf="isAssignedToTik == true && !currentUser.roles.includes('TİK')">
            <p-button pRipple label="{{ '::PatientDetail:SentToTIK' | abpLocalization }}" icon="pi pi-send"
                styleClass="p-button-danger" [disabled]="true"></p-button>
        </div>
        <div class="mr-4" *ngIf="isAssignedToTik == true && currentUser.roles.includes('TİK')">
            <p-button pRipple label="{{ '::PatientDetail:ReturnFromTIK' | abpLocalization }}" icon="pi pi-send"
                styleClass="p-button-warning" (onClick)="onReturnFromTIK()"></p-button>
        </div>
        <div class="mr-4" *ngIf="isAssignedToTik == null || isAssignedToTik == false">
            <p-button pRipple label="{{ '::PatientDetail:SendToTIK' | abpLocalization }}" icon="pi pi-send"
                styleClass="p-button-info" (onClick)="onSendToTIK()"></p-button>
        </div>
        <div class="grid grid-nogutter w-15rem">
            <div class="col-6">Ekleyen Kullanıcı</div>
            <div class="col-6">{{creatorName}}</div>
            <div class="col-6">Eklenme Tarihi</div>
            <div class="col-6">{{creationTime | date: "dd.MM.yyyy"}}</div>
        </div>
    </div>
</div>

<p-card>
    <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet">
        <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">{{'::PatientDetail:Profile' |
            abpLocalization}}
        </legend>
        <form #profileForm="ngForm">
            <div class="grid gap-3">
                <div class="col">
                    <div class="field grid mb-2">
                        <label for="patientName" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Name' |
                            abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                        <div class="col-12 md:col-9">
                            <input id="patientName" name="patientName" #patientName="ngModel" pInputText type="text"
                                [(ngModel)]="patient.name" required="true" [disabled]="!isAllowedToManage"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientSurname" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Surname'
                            |
                            abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                        <div class="col-12 md:col-9">
                            <input id="patientSurname" name="patientSurname" #patientSurname="ngModel" pInputText
                                type="text" [(ngModel)]="patient.surname" required="true"
                                [disabled]="!isAllowedToManage"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientNationality" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:Nationality'
                            | abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                        <div class="col-12 md:col-9">
                            <p-dropdown id="patientNationality" name="patientNationality" #patientNationality="ngModel"
                                [filter]="true" filterBy="name" [showClear]="true" [options]="nationalityList"
                                filterLocale="tr-TR" [(ngModel)]="patient.nationalityId"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                required="true" styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" [disabled]="!isAllowedToManage"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientPassportNo" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:PassportNo' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <input id="patientPassportNo" name="patientPassportNo" #patientPassportNo="ngModel"
                                pInputText type="text" [(ngModel)]="patient.passportNumber"
                                [disabled]="!isAllowedToManage"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="field grid mb-2">
                        <label for="patientBirthDate" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:BirthDate'
                            |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-calendar [(ngModel)]="patient.birthDate" id="patientBirthDate" name="patientBirthDate"
                                #patientBirthDate="ngModel" dateFormat="dd.mm.yy" [showIcon]="true" inputId="icon"
                                [maxDate]="maxBirthDate" [minDate]="minBirthDate" inputStyleClass="text-sm"
                                [disabled]="!isAllowedToManage" styleClass="customCalendar"
                                [style]="{'width':'100%'}"></p-calendar>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientGender" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Gender' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-dropdown id="patientGender" name="patientGender" #patientGender="ngModel"
                                [options]="genderList" [(ngModel)]="patient.genderId" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" placeholder="{{ '::Select' | abpLocalization }}"
                                optionValue="id" optionLabel="name" [disabled]="!isAllowedToManage"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientPhoneNo" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:PhoneNo'
                            |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-dropdown id="phoneCountryCode" name="phoneCountryCode" [filter]="true" filterBy="name"
                                [showClear]="true" #phoneCountryCode="ngModel" [options]="nationalityList"
                                [(ngModel)]="patient.phoneCountryCodeId" [disabled]="!isAllowedToManage"
                                [style]="{'width':'100px', 'margin-right':'10px'}" styleClass="filterDropDown"
                                optionValue="id" placeholder="{{ '::Select' | abpLocalization }}" filterLocale="tr-TR"
                                optionLabel="phoneCode" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                                <ng-template let-country pTemplate="item">
                                    <div><b>{{ country.phoneCode }}</b> - {{ country.name }}</div>
                                </ng-template>
                            </p-dropdown>
                            <input id="patientPhoneNo" name="patientPhoneNo" #patientPhoneNo="ngModel" pInputText
                                type="text" [(ngModel)]="patient.phoneNumber" [disabled]="!isAllowedToManage"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="field grid mb-2">
                        <label for="patientEmail" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Email' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <input id="patientEmail" name="patientEmail" #patientEmail="ngModel" pInputText type="text"
                                [email]="true" [(ngModel)]="patient.email" [disabled]="!isAllowedToManage"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <small class="p-error" *ngIf="patientEmail.errors?.email">{{ '::Message:WrongEmailFormat' |
                                abpLocalization }}</small>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientNativeLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:NativeLanguage' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-dropdown id="patientNativeLanguage" name="patientNativeLanguage"
                                #patientNativeLanguage="ngModel" [filter]="true" filterBy="name" [showClear]="true"
                                [options]="languageList" [(ngModel)]="patient.motherTongueId" filterLocale="tr-TR"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" [disabled]="!isAllowedToManage"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="patientSecondLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:SecondLanguage' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-dropdown id="patientSecondLanguage" name="patientSecondLanguage"
                                #patientSecondLanguage="ngModel" [filter]="true" filterBy="name" [showClear]="true"
                                [options]="languageList" [(ngModel)]="patient.secondTongueId" filterLocale="tr-TR"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" [disabled]="!isAllowedToManage"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid mb-2 mr-0 justify-content-end">
                        <p-button pRipple label="{{ '::PatientDetail:SaveProfile' | abpLocalization }}"
                            icon="pi pi-save" styleClass="p-button-success" [disabled]="!(profileForm.valid)"
                            (onClick)="onSaveProfile()" [loading]="loading" *ngIf="isAllowedToManage"></p-button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>

    <div class="grid">
        <div class="col">
            <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet">
                <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">{{'::PatientDetail:Notes' |
                    abpLocalization}}
                </legend>
                <app-notes [patientId]="patientId"></app-notes>
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet">
                <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">{{'::PatientDetail:Documents'
                    | abpLocalization}}
                </legend>
                <app-documents [patientId]="patientId"></app-documents>
            </fieldset>
        </div>
    </div>

    <div class="grid" *ngIf="patientView">
        <div class="col">
            <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet">
                <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">
                    {{'::PatientDetail:TreatmentProcesses' |
                    abpLocalization}}
                </legend>
                <app-treatment-processes [patient]="patientView"></app-treatment-processes>
            </fieldset>
        </div>
    </div>
</p-card>