.currentUserDropdown {
    color: rgba(255,255,255,.8);
}

.currentUserDropdown .dropdown-toggle {
    color: rgba(255,255,255,.8) !important;
}

.currentUserDropdown .dropdown-toggle:hover {
    color: white !important;
}
.currentUserDropdown .dropdown-menu {
    right: 0px;
}

.customLoginButton {
    color: rgba(255, 255, 255, 0.8) !important;
}