<div *ngIf="hospitalResponse">
    <form #hospitalResponseForm="ngForm">
        <div class="grid">
            <div class="col-4">
                <div class="pl-3 pr-3 pt-2 pb-3 m-2">
                    <div class="field grid" *ngIf="isInNewRecordStatus">
                        <label for="hospital" class="col-fixed"
                            style="width:140px">{{'::HospitalResponse:Field:HospitalName' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-dropdown id="hospital" name="hospital" #hospital="ngModel" [options]="hospitalList"
                                [(ngModel)]="operation.hospitalId" placeholder="{{ '::Select' | abpLocalization }}"
                                [style]="{'width':'100%'}" required="true" styleClass="filterDropDown"
                                optionLabel="name" optionValue="id" [disabled]="!isManual && !isInNewRecordStatus"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="hospitalResponse" class="col-fixed"
                            style="width:140px">{{'::HospitalResponse:Field:HospitalResponse' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-dropdown id="hospitalResponseType" name="hospitalResponseType"
                                #hospitalResponseType="ngModel" [options]="hospitalResponseTypeList"
                                [(ngModel)]="hospitalResponse.hospitalResponseTypeId"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                required="true" styleClass="filterDropDown" optionLabel="name" optionValue="id"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                                [disabled]="!isManual && !isInNewRecordStatus"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="hospitalizationType" class="col-fixed"
                            style="width:140px">{{'::HospitalResponse:Field:HospitalizationType' |
                            abpLocalization}}<font style="color:red"
                                *ngIf="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment">
                                &nbsp;*
                            </font></label>
                        <div class="col">
                            <p-dropdown id="hospitalizationType" name="hospitalizationType"
                                #hospitalizationType="ngModel" [options]="hospitalizationTypeList"
                                [(ngModel)]="hospitalResponse.hospitalizationTypeId"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                required="true" styleClass="filterDropDown" optionLabel="name" optionValue="id"
                                [required]="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                                [disabled]="!isManual && !isInNewRecordStatus"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="branch" class="col-fixed" style="width:140px">{{'::HospitalResponse:Field:Branch' |
                            abpLocalization}}<font style="color:red"
                                *ngIf="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment">
                                &nbsp;*
                            </font></label>
                        <div class="col">
                            <p-multiSelect id="branch" name="branch" #branch="ngModel" [options]="branchList"
                                [filter]="true" filterBy="name" [(ngModel)]="selectedBranches" display="chip"
                                [style]="{'width':'100%'}" styleClass="filterDropDown text-sm" optionLabel="name"
                                optionValue="id" placeholder="{{ '::Select' | abpLocalization }}"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" filterLocale="tr-TR"
                                [required]="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}"
                                [disabled]="!isManual && !isInNewRecordStatus"></p-multiSelect>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="earliestTreatmentDate" class="col-fixed"
                            style="width:140px">{{'::HospitalResponse:Field:EarliestTreatmentDate' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-calendar id="calTreatmentDate" name="calTreatmentDate" #calTreatmentDate="ngModel"
                                [(ngModel)]="hospitalResponse.possibleTreatmentDate" [showIcon]="true"
                                inputStyleClass="text-sm" dateFormat="dd.mm.yy"
                                [disabled]="!isManual && !isInNewRecordStatus"></p-calendar>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="numberOfHospitalizationDays" class="col-fixed"
                            style="width:140px">{{'::HospitalResponse:Field:NumberOfHospitalizationDays' |
                            abpLocalization}}<font style="color:red"
                                *ngIf="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment">
                                &nbsp;*
                            </font></label>
                        <div class="col">
                            <p-inputNumber id="numberOfHospitalizationDays" name="numberOfHospitalizationDays"
                                #numberOfHospitalizationDays="ngModel"
                                [required]="hospitalResponse.hospitalResponseTypeId == hospitalResponseTypeEnum.SuitableForTreatment"
                                [(ngModel)]="hospitalResponse.hospitalizationNumber"
                                [disabled]="!isManual && !isInNewRecordStatus"></p-inputNumber>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="min-height:30rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:AnticipatedProcesses' |
                        abpLocalization}}
                    </legend>

                    <p-toolbar styleClass="customToolbar" *ngIf="isManual || isInNewRecordStatus">
                        <div class="p-toolbar-group-start">
                            <div class="ml-3"></div>
                        </div>
                        <div class="p-toolbar-group-end p-0">
                            <p-button pRipple
                                label="{{ '::HospitalResponse:AnticipatedProcesses:NewProcess' | abpLocalization }}"
                                icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="openNewProcess()"
                                [loading]="loading"></p-button>
                        </div>
                    </p-toolbar>

                    <p-table #dtAnticipatedProcesses [value]="anticipatedProcesses" [rows]="5" styleClass="pt-3" [paginator]="true"
                        [rowHover]="true" [loading]="loading" [totalRecords]="totalAnticipatedProcesses"
                        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                        [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="process.code">{{ '::HospitalResponse:Process:Column:Code' |
                                    abpLocalization
                                    }}
                                    <p-sortIcon field="process.code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="process.name">{{
                                    '::HospitalResponse:Process:Column:Name'
                                    |
                                    abpLocalization }}
                                    <p-sortIcon field="process.name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="amount">{{ '::HospitalResponse:Process:Column:Amount' |
                                    abpLocalization
                                    }}
                                    <p-sortIcon field="amount"></p-sortIcon>
                                </th>
                                <th class="w-4rem" *ngIf="isManual || isInNewRecordStatus"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-process>
                            <tr>
                                <td>{{process.process?.code}}</td>
                                <td>{{process.process?.name}}</td>
                                <td>{{process.amount}}</td>
                                <td *ngIf="isManual || isInNewRecordStatus">
                                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                                        (onClick)="deleteProcess(process)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <div class="m-3">
                                {{ '::Table:EmptyMessage' | abpLocalization }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between"
                                *ngIf="totalAnticipatedProcesses > 0">
                                {{ '::Table:Summary' | abpLocalization: totalAnticipatedProcesses }}
                            </div>
                        </ng-template>
                    </p-table>
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="min-height:30rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:AnticipatedMaterials' |
                        abpLocalization}}
                    </legend>

                    <p-toolbar styleClass="customToolbar" *ngIf="isManual || isInNewRecordStatus">
                        <div class="p-toolbar-group-start">
                            <div class="ml-3"></div>
                        </div>
                        <div class="p-toolbar-group-end p-0">
                            <p-button pRipple
                                label="{{ '::HospitalResponse:AnticipatedMaterials:NewMaterial' | abpLocalization }}"
                                icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="openNewMaterial()"
                                [loading]="loading"></p-button>
                        </div>
                    </p-toolbar>

                    <p-table #dtAnticipatedMaterials [value]="anticipatedMaterials" [rows]="5" styleClass="pt-3" [paginator]="true"
                        [rowHover]="true" [loading]="loading" [totalRecords]="totalAnticipatedMaterials"
                        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                        [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="process.name">{{ '::HospitalResponse:Material:Column:Name' |
                                    abpLocalization }}
                                    <p-sortIcon field="process.name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="amount">{{ '::HospitalResponse:Material:Column:Amount' |
                                    abpLocalization }}
                                    <p-sortIcon field="amount"></p-sortIcon>
                                </th>
                                <th class="w-4rem" *ngIf="isManual || isInNewRecordStatus"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-material>
                            <tr>
                                <td>{{material.process?.name}}</td>
                                <td>{{material.amount}}</td>
                                <td *ngIf="isManual || isInNewRecordStatus">
                                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                                        (onClick)="deleteMaterial(material)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <div class="m-3">
                                {{ '::Table:EmptyMessage' | abpLocalization }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between"
                                *ngIf="totalAnticipatedMaterials > 0">
                                {{ '::Table:Summary' | abpLocalization: totalAnticipatedMaterials }}
                            </div>
                        </ng-template>
                    </p-table>

                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="height:18rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:HospitalDescription' |
                        abpLocalization}}
                    </legend>
                    <textarea pInputText id="description" name="description" #description="ngModel"
                        [(ngModel)]="hospitalResponse.description" class="w-full h-full"
                        [disabled]="!isManual && !isInNewRecordStatus"></textarea>
                </fieldset>
            </div>
            <div class="col-4">
                <div class="pl-3 pr-3 pt-2 pb-3 m-2">
                    <div class="field grid">
                        <label for="travelDate" class="col-fixed"
                            style="width:160px">{{'::OperationalInfo:Field:TravelDateToTurkey' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-calendar id="travelDate" name="travelDate" #travelDate="ngModel"
                                [(ngModel)]="operation.travelDateToTurkey" [showIcon]="true" inputStyleClass="text-sm"
                                dateFormat="dd.mm.yy" appendTo="body"></p-calendar>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="treatmentDate" class="col-fixed"
                            style="width:160px">{{'::OperationalInfo:Field:TreatmentDate' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-calendar id="treatmentDate" name="treatmentDate" #treatmentDate="ngModel"
                                [(ngModel)]="operation.treatmentDate" [showIcon]="true" inputStyleClass="text-sm"
                                dateFormat="dd.mm.yy" appendTo="body"></p-calendar>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="interpreter" class="col-fixed"
                            style="width:160px">{{'::OperationalInfo:Field:AppointedInterpreter' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-dropdown id="interpreter" name="interpreter" #interpreter="ngModel"
                                [options]="interpreterList" [(ngModel)]="selectedInterpreter"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionLabel="name" appendTo="body"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}">
                                <ng-template pTemplate="selectedItem">
                                    <div class="flex align-items-center gap-2" *ngIf="selectedInterpreter">
                                        <div>{{ selectedInterpreter.name }} {{ selectedInterpreter.surname }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-staff pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ staff.name }} {{ staff.surname }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="treatmentType" class="col-fixed"
                            style="width:160px">{{'::OperationalInfo:Field:TreatmentType' |
                            abpLocalization}}</label>
                        <div class="col">
                            <p-dropdown id="treatmentType" name="treatmentType" #treatmentType="ngModel"
                                [options]="treatmentTypeList" [(ngModel)]="operation.treatmentTypeId"
                                placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionLabel="name" optionValue="id" appendTo="body"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-dropdown>
                        </div>
                    </div>
                    <div class="field grid">
                        <p-checkbox id="anyInvitationLetter" name="anyInvitationLetter" #anyInvitationLetter="ngModel"
                            [binary]="true" [(ngModel)]="operation.anyInvitationLetter"></p-checkbox>
                        <label for="anyInvitationLetter" class="pl-3 mt-2">{{
                            '::OperationalInfo:Field:AnyInvitationLetter' | abpLocalization }}</label>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::Proforma:Field:HospitalAgentNote' |
                        abpLocalization}}
                    </legend>
                    <app-agent-notes (onNoteAdded)="onNoteAdded($event)"></app-agent-notes>
                </fieldset>
            </div>
            <div class="col-12 align-self-end">
                <div class="flex justify-content-end">
                    <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-save"
                        [disabled]="!(hospitalResponseForm.valid)" styleClass="p-button-success mr-2 mt-4 w-12rem"
                        [loading]="loading" (onClick)="onResponseSave()"></p-button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--ÖNGÖRÜLEN İŞLEM-->
<p-dialog [(visible)]="processDialog" [style]="{width: '30vw'}"
    header="{{ '::HospitalResponse:Process:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideProcessDialog()">
    <form #processForm="ngForm">
        <div *ngIf="process">
            <div class="field">
                <label for="ddlProcessList">{{ '::Admin:Process:Name' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-autoComplete id="ddlProcessList" name="ddlProcessList" #ddlProcessList="ngModel"
                    [(ngModel)]="process.process" [suggestions]="filteredProcesses" [minLength]="3" [delay]="500"
                    (completeMethod)="filterProcess($event)" field="name" [forceSelection]="true"
                    [style]="{'width':'100%'}" styleClass="filterAutoComplete" appendTo="body" required>
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="process.process">
                            <div class="white-space-normal">{{ process.process.code }} - {{ process.process.name }}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-process pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div class="white-space-normal">{{ process.code }} - {{ process.name }}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
                <small class="p-error" *ngIf="!(ddlProcessList.valid || ddlProcessList.pristine)">{{
                    '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="processAmount">{{ '::HospitalResponse:Process:Column:Amount' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-inputNumber id="processAmount" name="processAmount" #processAmount="ngModel"
                    [(ngModel)]="process.amount" required></p-inputNumber>
                <small class="p-error" *ngIf="!(processAmount.valid || processAmount.pristine)">{{
                    '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideProcessDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveProcess()" [disabled]="!(processForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<!--ONGORULEN SARF MALZEME-->
<p-dialog [(visible)]="materialDialog" [style]="{width: '30vw'}"
    header="{{ '::HospitalResponse:Material:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideMaterialDialog()">
    <form #materialForm="ngForm">
        <div *ngIf="material">
            <div class="field">
                <label for="ddlMaterialList">{{ '::HospitalResponse:Material:Column:Name' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-autoComplete id="ddlMaterialList" name="ddlMaterialList" #ddlMaterialList="ngModel"
                    [(ngModel)]="material.process" [suggestions]="filteredMaterials"
                    (completeMethod)="filterMaterial($event)" field="name" [forceSelection]="true"
                    [style]="{'width':'100%'}" styleClass="filterAutoComplete" appendTo="body" required>
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="material.process">
                            <div class="white-space-normal">{{ material.process.code }} - {{ material.process.name }}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-material pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div class="white-space-normal">{{ material.code }} - {{ material.name }}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
                <small class="p-error" *ngIf="!(ddlMaterialList.valid || ddlMaterialList.pristine)">{{
                    '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="materialAmount">{{ '::HospitalResponse:Material:Column:Amount' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-inputNumber id="materialAmount" name="materialAmount" #materialAmount="ngModel"
                    [(ngModel)]="material.amount" required></p-inputNumber>
                <small class="p-error" *ngIf="!(materialAmount.valid || materialAmount.pristine)">{{
                    '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideMaterialDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveMaterial()" [disabled]="!(materialForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-confirmDialog key="operationConfirm" [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>