.languageDropdown {
    color: rgba(255,255,255,.8);
}

.languageDropdown .dropdown-toggle {
    color: rgba(255,255,255,.8) !important;
}

.languageDropdown .dropdown-toggle:hover {
    color: white !important;
}
.languageDropdown .dropdown-menu {
    right: 0px;
}