<div class="grid">
    <div class="col-6">
        <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 quotationFieldSet" style="height:100%;">
            <legend class="float-none w-auto pl-3 pr-3 text-sm quotationFieldSetlegend">
                {{'::Quotation:FieldLegend:HBYSProcesses' |
                abpLocalization}}
            </legend>

            <p-toolbar styleClass="customToolbar">
                <div class="p-toolbar-group-start"></div>
                <div class="p-toolbar-group-end p-0">
                    <p-button pRipple label="{{ '::Quotation:HBYSTable:CreateProforma' | abpLocalization }}"
                        icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="createProforma()"
                        [loading]="loading"
                        *ngIf="selectedENabizProcesses && selectedENabizProcesses.length > 0"></p-button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success ml-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                        class="p-button-warning ml-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                </div>
            </p-toolbar>

            <p-table #dt [value]="enabizProcessList" [rows]="5" styleClass="pt-3" [paginator]="true" [rowHover]="true"
                selectionMode="multiple" [loading]="loading" [totalRecords]="totalEnabizProcessCount"
                [(selection)]="selectedENabizProcesses" dataKey="id"
                currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                [showCurrentPageReport]="false" [alwaysShowPaginator]="false" [selectAll]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                        </th>
                        <th pSortableColumn="isleM_KODU">{{ '::Quotation:HBYSTable:Column:SutCode' |
                            abpLocalization }}
                            <p-sortIcon field="isleM_KODU"></p-sortIcon>
                        </th>
                        <th pSortableColumn="gerceklesmE_ZAMANI">{{ '::Quotation:HBYSTable:Column:CreationDate' |
                            abpLocalization }}
                            <p-sortIcon field="gerceklesmE_ZAMANI"></p-sortIcon>
                        </th>
                        <th pSortableColumn="hospitalPrice">{{ '::Quotation:HBYSTable:Column:HospitalPrice' |
                            abpLocalization }}
                            <p-sortIcon field="hospitalPrice"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ushasPrice">{{ '::Quotation:HBYSTable:Column:UshasPrice' |
                            abpLocalization }}
                            <p-sortIcon field="ushasPrice"></p-sortIcon>
                        </th>
                        <th>{{ '::Quotation:HBYSTable:Column:ApplicationStatus' |
                            abpLocalization }}
                        </th>
                        <th>{{ '::Quotation:HBYSTable:Column:CancellationStatus' |
                            abpLocalization }}
                        </th>
                        <th>{{ '::Quotation:HBYSTable:Column:IsInProforma' |
                            abpLocalization }}
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-enabizProcess>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="enabizProcess"
                                [disabled]="enabizProcess.isUsedInProforma"></p-tableCheckbox>
                        </td>
                        <td>{{enabizProcess.isleM_KODU}}</td>
                        <td>{{enabizProcess.gerceklesmeZamani | date: "dd.MM.yyyy HH:mm"}}</td>
                        <td>{{enabizProcess.hospitalPrice}}</td>
                        <td>{{enabizProcess.ushasPrice}}</td>
                        <td></td>
                        <td class="text-center">
                            <i class="pi text-xl" [ngClass]="{ 
                                    'text-green-500 pi-check-circle': enabizProcess.isCancelled == true, 
                                    'text-red-500 pi-times-circle': enabizProcess.isCancelled == false,
                                    'text-gray-600 pi-question-circle': enabizProcess.isCancelled == null }"></i>
                        </td>
                        <td class="text-center">
                            <i class="pi text-xl" [ngClass]="{ 
                                    'text-green-500 pi-check-circle': enabizProcess.isUsedInProforma == true, 
                                    'text-red-500 pi-times-circle': enabizProcess.isUsedInProforma == false,
                                    'text-gray-600 pi-question-circle': enabizProcess.isUsedInProforma == null }"></i>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <div class="m-3">
                        {{ '::Table:EmptyMessage' | abpLocalization }}
                    </div>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between" *ngIf="totalEnabizProcessCount > 0">
                        {{ '::Table:Summary' | abpLocalization: totalEnabizProcessCount }}
                    </div>
                </ng-template>
            </p-table>
        </fieldset>
    </div>
    <div class="col-6">
        <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 quotationFieldSet" style="height:100%;">
            <legend class="float-none w-auto pl-3 pr-3 text-sm quotationFieldSetlegend">
                {{'::Quotation:FieldLegend:Quotation' |
                abpLocalization}}
            </legend>

            <p-table #dt [value]="proformaList" [rows]="5" styleClass="pt-3" [paginator]="true" [rowHover]="true"
                [loading]="loading"
                currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="proformaCode">{{ '::Quotation:ProformaTable:Column:ProformaCode' |
                            abpLocalization }}
                            <p-sortIcon field="proformaCode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="creator.name">{{
                            '::Quotation:ProformaTable:Column:CreatedBy' |
                            abpLocalization }}
                            <p-sortIcon field="creator.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="creationDate">{{
                            '::Quotation:ProformaTable:Column:Created' |
                            abpLocalization }}
                            <p-sortIcon field="creationDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="proformaStatusId">{{ '::Quotation:ProformaTable:Column:ProformaStatus' |
                            abpLocalization }} <p-sortIcon field="proformaStatusId"></p-sortIcon></th>
                        <th class="text-center">
                            {{ '::Quotation:ProformaTable:Column:MFBApproval' | abpLocalization }}
                        </th>
                        <th class="text-center">
                            {{ '::Quotation:ProformaTable:Column:PatientApproval' | abpLocalization }}
                        </th>
                        <th class="text-center">
                            {{ '::Quotation:ProformaTable:Column:Receipt' | abpLocalization }}
                        </th>
                        <th>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proforma>
                    <tr>
                        <td>
                            <div class="cursor-pointer underline" (click)="onProformaCodeClick(proforma)">
                                {{proforma.proformaCode}}</div>
                        </td>
                        <td>{{proforma.creator?.name + (proforma.creator?.surname ? (" " +
                            proforma.creator?.surname) :
                            "")}}</td>
                        <td>{{proforma.creationDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                        <td>{{proforma.proformaStatus.name}}</td>
                        <td class="text-center">
                            <i class="pi text-xl" [pTooltip]="proforma.rejectReasonMFB" tooltipPosition="top"
                                [ngClass]="{ 
                                    'text-green-500 pi-check-circle': proforma.proformaStatusId >= proformaStatusEnum.WillBeTransferedToPatient && proforma.proformaStatusId != proformaStatusEnum.Cancelled, 
                                    'text-red-500 pi-times-circle': proforma.proformaStatusId == proformaStatusEnum.MFBRejected,
                                    'text-gray-600 pi-question-circle': proforma.proformaStatusId < proformaStatusEnum.MFBRejected || proforma.proformaStatusId == proformaStatusEnum.Cancelled }"></i>
                        </td>
                        <td class="text-center">
                            <i class="pi text-xl" [pTooltip]="proforma.rejectReason?.reason" tooltipPosition="top"
                                [ngClass]="{ 
                                    'text-green-500 pi-check-circle': proforma.proformaStatusId >= proformaStatusEnum.WaitingForPayment && proforma.proformaStatusId != proformaStatusEnum.Cancelled, 
                                    'text-red-500 pi-times-circle': proforma.proformaStatusId == proformaStatusEnum.PatientRejected,
                                    'text-gray-600 pi-question-circle': proforma.proformaStatusId < proformaStatusEnum.PatientRejected || proforma.proformaStatusId == proformaStatusEnum.Cancelled }"></i>
                        </td>
                        <td class="text-center">
                            <i class="pi text-xl"
                                [ngClass]="{ 
                                    'text-green-500 pi-check-circle': proforma.proformaStatusId == proformaStatusEnum.PaymentCompleted,
                                    'text-gray-600 pi-question-circle': proforma.proformaStatusId < proformaStatusEnum.PaymentCompleted || proforma.proformaStatusId == proformaStatusEnum.Cancelled }"></i>
                        </td>
                        <td class="white-space-nowrap">
                            <p-button
                                pTooltip="{{ '::Quotation:ProformaTable:Button:SendToPatient' | abpLocalization }}"
                                icon="pi pi-send" styleClass="p-button-rounded p-button-secondary"
                                (onClick)="onSendToPatientClick(proforma)" [disabled]="!isAllowedToManagePatient"
                                *ngIf="proforma.proformaStatusId == proformaStatusEnum.WillBeTransferedToPatient"></p-button>
                            <p-button pTooltip="{{ '::Quotation:ProformaTable:Button:Approve' | abpLocalization }}"
                                icon="pi pi-check" styleClass="p-button-rounded p-button-success"
                                (onClick)="onApproveClick(proforma)"
                                [disabled]="!(proforma.proformaStatusId == proformaStatusEnum.MFBWaitingApproval && isAllowedToApproveRejectAsMFB) && !(proforma.proformaStatusId == proformaStatusEnum.WaitingForPatientApproval && isAllowedToApproveRejectAsPatient)"
                                *ngIf="proforma.proformaStatusId == proformaStatusEnum.MFBWaitingApproval || proforma.proformaStatusId == proformaStatusEnum.WaitingForPatientApproval"></p-button>
                            <p-button pTooltip="{{ '::Quotation:ProformaTable:Button:Reject' | abpLocalization }}"
                                icon="pi pi-times" styleClass="p-button-rounded p-button-danger ml-1"
                                (onClick)="onRejectClick(proforma)"
                                [disabled]="!(proforma.proformaStatusId == proformaStatusEnum.MFBWaitingApproval && isAllowedToApproveRejectAsMFB) && !(proforma.proformaStatusId == proformaStatusEnum.WaitingForPatientApproval && isAllowedToApproveRejectAsPatient)"
                                *ngIf="proforma.proformaStatusId == proformaStatusEnum.MFBWaitingApproval || proforma.proformaStatusId == proformaStatusEnum.WaitingForPatientApproval"></p-button>
                            <p-button pTooltip="{{ '::Quotation:ProformaTable:Button:Payment' | abpLocalization }}"
                                icon="pi pi-calculator" styleClass="p-button-rounded p-button-secondary"
                                (onClick)="onPaymentClick(proforma)" [disabled]="!isAllowedToManageProforma"
                                *ngIf="proforma.proformaStatusId == proformaStatusEnum.WaitingForPayment"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <div class="m-3">
                        {{ '::Table:EmptyMessage' | abpLocalization }}
                    </div>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between" *ngIf="proformaList?.length > 0">
                        {{ '::Table:Summary' | abpLocalization: proformaList?.length }}
                    </div>
                </ng-template>
            </p-table>

        </fieldset>
    </div>
    <div class="col-12">
        <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 quotationFieldSet" style="height:100%;">
            <legend class="float-none w-auto pl-3 pr-3 text-sm quotationFieldSetlegend">
                {{'::Quotation:FieldLegend:PaymentList' |
                abpLocalization}}
            </legend>
            <app-payment-list #paymentListComp [ptpId]="patientTreatmentId" [patient]="patient"
                (onPaymentCompleted)="onPaymentCompleted()"></app-payment-list>
        </fieldset>
    </div>
</div>

<p-dialog [(visible)]="displayMFBReject" [style]="{width: '30vw'}"
    header="{{ '::Quotation:MFBReject:Dialog:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideMFBrejectDialog()">
    <form #mfbRejectForm="ngForm">
        <div *ngIf="rejectProforma">
            <div class="field">
                <label for="txtRejectReason">{{ '::Quotation:MFBReject:Dialog:RejectReason' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <textarea rows="3" pInputText id="txtRejectReason" name="txtRejectReason" #txtRejectReason="ngModel"
                    required [(ngModel)]="rejectProforma.rejectReason" class="w-full"></textarea>
                <small class="p-error" *ngIf="!(txtRejectReason.valid || txtRejectReason.pristine)">{{
                    '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideMFBrejectDialog()"></p-button>
        <p-button pRipple label="{{ '::RejectResponse' | abpLocalization }}" icon="pi pi-check"
            styleClass="p-button-text" (onClick)="onMFBReject()" [disabled]="!(mfbRejectForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayPatientReject" [style]="{width: '30vw'}"
    header="{{ '::Quotation:PatientReject:Dialog:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hidePatientRejectDialog()">
    <form #patientRejectForm="ngForm">
        <div *ngIf="rejectProforma">
            <div class="field">
                <label for="txtRejectReason">{{ '::Quotation:PatientReject:Dialog:RejectReason' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-dropdown id="ddlRejectReason" name="ddlRejectReason" #ddlRejectReason="ngModel"
                    [options]="rejectReasonList" [(ngModel)]="rejectProforma.rejectReasonId"
                    placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}" required="true"
                    styleClass="filterDropDown" optionValue="id" optionLabel="reason" appendTo="body"
                    emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-dropdown>
                <small class="p-error" *ngIf="!(ddlRejectReason.valid || ddlRejectReason.pristine)">{{
                    '::Message:RequiredField' | abpLocalization }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hidePatientRejectDialog()"></p-button>
        <p-button pRipple label="{{ '::RejectResponse' | abpLocalization }}" icon="pi pi-check"
            styleClass="p-button-text" (onClick)="onPatientReject()" [disabled]="!(patientRejectForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-confirmDialog key="quotationConfirm" [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>