<p-toast></p-toast>

<h4>{{ '::Admin:RejectReason:RejectReasonManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{ '::Admin:RejectReason:NewRejectReason' | abpLocalization }}"
                icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewRejectReason()"
                [loading]="loading"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="rejectReasonList" [rows]="10" [paginator]="true" responsiveLayout="stack"
        [breakpoint]="'960px'" [rowHover]="true" dataKey="Id" [loading]="loading"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="reason">{{ '::Admin:RejectReason:Column:Reason' | abpLocalization }} <p-sortIcon
                        field="reason"></p-sortIcon></th>
                <th class="w-8rem text-center">{{ '::Admin:RejectReason:Column:IsActive' | abpLocalization }}</th>
                <th class="w-8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rejectReason>
            <tr>
                <td>{{rejectReason.reason}}</td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': rejectReason.isActive, 'text-red-500 pi-times-circle': !rejectReason.isActive }"></i>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editRejectReason(rejectReason)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteRejectReason(rejectReason)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="rejectReasonDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:RejectReason:RejectReasonDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid">
    <form #rejectReasonForm="ngForm">
        <div *ngIf="rejectReason">
            <div class="field">
                <label for="reason">{{ '::Admin:RejectReason:Column:Reason' | abpLocalization }}&nbsp;<font
                        style="color:red">*
                    </font></label>
                <input type="text" pInputText id="reason" name="reason" #reason="ngModel"
                    [(ngModel)]="rejectReason.reason" required autofocus />
                <small class="p-error" *ngIf="!(reason.valid || reason.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:RejectReason:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="rejectReason.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveRejectReason()" [disabled]="!(rejectReasonForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>