<p-toast></p-toast>

<h4>{{ '::NewPatient:Title' | abpLocalization }}</h4>

<p-card>
    <div class="grid">
        <div class="col">

            <fieldset class="border pl-3 pr-3 pt-2 pb-3">
                <legend class="float-none w-auto pl-3 pr-3 text-sm">{{'::PatientDetail:Profile' | abpLocalization}}
                </legend>
                <div class="field grid mb-2">
                    <label for="patientName" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Name' |
                        abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                    <div class="col-12 md:col-9">
                        <input id="patientName" type="text" [(ngModel)]="patient.Name" required="true"
                            class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientSurname" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Surname' |
                        abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                    <div class="col-12 md:col-9">
                        <input id="patientSurname" type="text" [(ngModel)]="patient.Surname" required="true"
                            class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientNationality" class="col-12 mb-2 md:col-3 md:mb-0">{{
                        '::Patients:Column:Nationality'
                        | abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                    <div class="col-12 md:col-9">
                        <p-dropdown id="patientNationality" [options]="languageList" [(ngModel)]="patient.Nationality"
                            placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}" required="true"
                            styleClass="filterDropDown" optionValue="Id" optionLabel="Name"></p-dropdown>
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientPassportNo" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:PassportNo' |
                        abpLocalization }}&nbsp;<font style="color:red">*</font></label>
                    <div class="col-12 md:col-9">
                        <input id="patientPassportNo" type="text" required="true" [(ngModel)]="patient.PassportNo"
                            class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientBirthDate" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:BirthDate' |
                        abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <p-calendar [(ngModel)]="patient.BirthDate" dateFormat="dd.mm.yy" [showIcon]="true" inputId="icon" 
                        styleClass="customCalendar" [style]="{'width':'100%'}"></p-calendar>
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientGender" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Gender' | abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <p-dropdown id="patientGender" [options]="genderList" [(ngModel)]="patient.Gender" 
                        [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="Id" optionLabel="Name"></p-dropdown>
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientPhoneNo" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:PhoneNo' | abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <p-inputMask id="patientPhoneNo" mask="(999) 999-9999" [(ngModel)]="patient.PhoneNo" placeholder="+99 (999) 999-9999" styleClass="customInputMask w-full"></p-inputMask>
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientEmail" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Email' | abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <input id="patientEmail" type="text" [(ngModel)]="patient.Email"
                            class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientNativeLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:NativeLanguage' | abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <p-dropdown id="patientNativeLanguage" [options]="languageList" [(ngModel)]="patient.NativeLanguage" placeholder="{{ '::Select' | abpLocalization }}"
                        [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="Id" optionLabel="Name"></p-dropdown>
                    </div>
                </div>
                <div class="field grid mb-2">
                    <label for="patientSecondLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:SecondLanguage' | abpLocalization }}</label>
                    <div class="col-12 md:col-9">
                        <p-dropdown id="patientSecondLanguage" [options]="languageList" [(ngModel)]="patient.SecondLanguage"  placeholder="{{ '::Select' | abpLocalization }}"
                        [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="Id" optionLabel="Name"></p-dropdown>
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="col">
            <fieldset class="border p-2">
                <legend class="float-none w-auto pl-3 pr-3 text-sm">{{'::PatientDetail:Notes' | abpLocalization}}
                </legend>
                <app-notes></app-notes>
            </fieldset>
        </div>
        <div class="col">
            <fieldset class="border p-2">
                <legend class="float-none w-auto pl-3 pr-3 text-sm">{{'::PatientDetail:Documents' | abpLocalization}}
                </legend>
                <app-documents></app-documents>
            </fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <fieldset class="border p-2">
                <legend class="float-none w-auto pl-3 pr-3 text-sm">{{'::PatientDetail:TreatmentProcesses' | abpLocalization}}
                </legend>
                <app-treatment-processes></app-treatment-processes>
            </fieldset>
        </div>
    </div>
</p-card>