.operationFieldSet {
    border-radius: 6px;
    background-color: rgba(235, 245, 238,.2);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.2)
}

.operationFieldSet .operationFieldSetlegend {
    border-radius: 4px;
    background-color: #62929E;
    font-weight: bold;
    color: white;
    padding: 4px 0px;
}

.operationFieldHeight {
    min-height: 20rem;
}

.operationFieldFullHeight {
    height: 100%;
}

.hospitalListStyle.p-listbox {
    height: 100%;
}

.consultationFieldHeight {
    min-height: 30rem;
}
