<p-toolbar styleClass="customToolbar">
    <div class="p-toolbar-group-start">
    </div>
    <div class="p-toolbar-group-end p-0">
        <p-button pRipple label="{{ '::OperationalInfo:NewOperation' | abpLocalization }}" icon="pi pi-plus"
            styleClass="p-button-success ml-2" (onClick)="onNewOperation()" *ngIf="isAllowedToManage"></p-button>
    </div>
</p-toolbar>

<p-table #dt [value]="operations" [rows]="5" styleClass="pt-3" [paginator]="true" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
    [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 12rem" pSortableColumn="patientTreatmentProcess.treatmentCode">{{
                '::OperationalInfo:Column:TreatmentCode'
                | abpLocalization }} <p-sortIcon field="patientTreatmentProcess.treatmentCode"></p-sortIcon></th>
            <th style="width: 14rem" pSortableColumn="id">{{ '::OperationalInfo:Column:OperationOrderNo' |
                abpLocalization }} <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="hospital">{{ '::OperationalInfo:Column:Hospital' |
                abpLocalization }} <p-sortIcon field="hospital"></p-sortIcon>
            </th>
            <th style="width: 12rem" pSortableColumn="creator.name">{{ '::OperationalInfo:Column:Creator' |
                abpLocalization }}
                <p-sortIcon field="creator.name"></p-sortIcon>
            </th>
            <th style="width: 12rem" pSortableColumn="creationTime">{{ '::OperationalInfo:Column:CreationTime' |
                abpLocalization
                }} <p-sortIcon field="creationTime"></p-sortIcon>
            </th>
            <th pSortableColumn="operationType.id">{{ '::OperationalInfo:Column:OperationType' |
                abpLocalization
                }} <p-sortIcon field="operationType.id"></p-sortIcon>
            </th>
            <th pSortableColumn="operationStatus.id">{{ '::OperationalInfo:Column:Status' |
                abpLocalization
                }} <p-sortIcon field="operationStatus.id"></p-sortIcon>
            </th>
            <th class="text-center" style="width: 22rem">{{ '::OperationalInfo:Column:DetailsAndActions' |
                abpLocalization }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-operation>
        <tr class="cursor-pointer" (click)="onOperationSelect($event, operation)">
            <td>{{operation.patientTreatmentProcess?.treatmentCode}}</td>
            <td>{{operation.id}}</td>
            <td>{{operation.hospital ? operation.hospital.name :
                operation.hospitalResponse.hospitalConsultation.hospital.name}}</td>
            <td>{{operation.creator?.name + (operation.creator?.surname ? (" " + operation.creator?.surname) : "")}}
            </td>
            <td>{{operation.creationTime | date: 'dd.MM.yyyy'}}</td>
            <td>{{operation.operationType?.name}}</td>
            <td>{{operation.operationStatus?.name}}</td>
            <td class="text-right">
                <p-button pRipple pTooltip="{{ '::HospitalConsultation:Button:Consultation' | abpLocalization }}"
                    styleClass="p-button-info ml-2" class="inline-block" icon="fas fa-h-square"
                    (onClick)="openConsultation(operation.hospitalResponse.hospitalConsultation)"
                    *ngIf="operation.operationTypeId == operationTypeEnum.HospitalConsultation"></p-button>
                <p-button pRipple pTooltip="{{ '::HospitalConsultation:Button:Answer' | abpLocalization }}"
                    styleClass="p-button-warning ml-2" class="inline-block" icon="fas fa-procedures"
                    (onClick)="openHospitalResponse(operation)"></p-button>
                <p-button pRipple styleClass="p-button-success ml-2" class="inline-block"
                    pTooltip="{{ '::OperationalInfo:Button:CreateProforma' | abpLocalization }}"
                    (onClick)="onCreateProforma(operation)" icon="fas fa-lira-sign"
                    [disabled]="!hasPriceExceptingOperation || !isAllowedToCreateProforma"
                    *ngIf="operation.operationStatus?.id != operationStatusEnum.NewRecord"></p-button>
                <p-button pRipple styleClass="p-button-success ml-2" class="inline-block"
                    pTooltip="{{ '::OperationalInfo:Button:SendToPricing' | abpLocalization }}"
                    (onClick)="onSendToPricing(operation)" [disabled]="!isAllowedToSendToPricing"
                    icon="fas fa-paper-plane"
                    *ngIf="operation.operationStatus?.id == operationStatusEnum.NewRecord"></p-button>
                <p-button pRipple styleClass="p-button-info ml-2" class="inline-block"
                    pTooltip="{{ '::OperationalInfo:Button:Copy' | abpLocalization }}" (onClick)="onCopy(operation)"
                    icon="pi pi-copy"></p-button>
                <p-button pRipple styleClass="p-button-danger ml-2" class="inline-block"
                    pTooltip="{{ '::OperationalInfo:Button:Cancel' | abpLocalization }}" (onClick)="onCancel(operation)"
                    *ngIf="operation.operationStatus?.id !== operationStatusEnum.Cancelled"
                    icon="pi pi-times-circle"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div class="m-3">
            {{ '::Table:EmptyMessage' | abpLocalization }}
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between" *ngIf="operations.length > 0">
            {{ '::Table:Summary' | abpLocalization:(operations.length) }}
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="displayConsultationDialog" [style]="{width: '85vw'}"
    header="{{ '::HospitalConsultation:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideConsultationDialog()">
    <form #consultationForm="ngForm">
        <div class="grid" *ngIf="hospitalConsultation">
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet consultationFieldHeight">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">
                        {{'::HospitalConsultation:FieldLegend:HospitalChoice' |
                        abpLocalization}}
                    </legend>
                    <p-listbox id="lstHospital" name="lstHospital" #lstHospital="ngModel" [options]="hospitalList"
                        [(ngModel)]="selectedHospitals" optionLabel="name" optionValue="id" [checkbox]="true"
                        [filter]="true" [multiple]="true" [metaKeySelection]="false" [disabled]="true"
                        filterLocale="tr-TR" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                        styleClass="hospitalListStyle" emptyFilterMessage="{{ '::EmptyMessage' | abpLocalization }}"
                        required></p-listbox>
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet consultationFieldHeight">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">
                        {{'::HospitalConsultation:FieldLegend:PatientComplaintAndDescription' |
                        abpLocalization}}
                    </legend>
                    <textarea pInputText id="description" name="description" #description="ngModel"
                        [(ngModel)]="hospitalConsultation.note" required style="height:100%"
                        [disabled]="true"></textarea>
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 patientFieldSet consultationFieldHeight">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm patientFieldSetlegend">
                        {{'::HospitalConsultation:FieldLegend:Documents' |
                        abpLocalization}}
                    </legend>
                    <div>
                        <p-table #dt [value]="hospitalConsultationDocuments" [rows]="5" styleClass="pt-3"
                            [paginator]="true" [rowHover]="true" [loading]="loading"
                            currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                            [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="fileName">{{ '::Documents:Column:FileName' | abpLocalization }}
                                        <p-sortIcon field="fileName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="description">{{ '::Documents:Column:Description' |
                                        abpLocalization }} <p-sortIcon field="description"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-hospitalDocument>
                                <tr>
                                    <td>{{hospitalDocument.fileName}}
                                        <p-tag severity="warning" value="{{ '::Revoked' | abpLocalization }}"
                                            [rounded]="true" styleClass="revokeTag" class="ml-3"
                                            *ngIf="hospitalDocument.patientDocumentStatusId === patientDocumentStatusEnum.Revoked"></p-tag>
                                    </td>
                                    <td>{{hospitalDocument.description}}
                                        <div class="overflow cursor-pointer" [pTooltip]="hospitalDocument.description"
                                            tooltipStyleClass="wideTooltip" tooltipPosition="bottom">
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <div class="m-3">
                                    {{ '::Table:EmptyMessage' | abpLocalization }}
                                </div>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="flex align-items-center justify-content-between"
                                    *ngIf="hospitalConsultationDocuments?.length > 0">
                                    {{ '::Table:Summary' | abpLocalization: hospitalConsultationDocuments?.length }}
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="displayHospitalResponseDialog" [style]="{width: '80vw'}"
    header="{{ '::HospitalResponse:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideHospitalResponseDialog()">
    <form #consultationDocumentForm="ngForm">
        <div class="grid" *ngIf="hospitalResponse">
            <div class="col-4">
                <div class="pl-3 pr-3 pt-2 pb-3 m-2">
                    <div class="field grid">
                        <label for="hospitalName" class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:HospitalName' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{hospitalResponse.hospitalConsultation ?
                            hospitalResponse.hospitalConsultation.hospital?.name : operation?.hospital?.name}}
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="treatmentCode" class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:TreatmentCode' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{operation?.patientTreatmentProcess?.treatmentCode}}
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="hospitalResponse" class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:HospitalResponse' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{hospitalResponse.hospitalResponseType?.name}}
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="hospitalizationType" class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:HospitalizationType' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{hospitalResponse.hospitalizationType?.name}}
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="branch" class="col-fixed" style="width:180px">{{'::HospitalResponse:Field:Branch' |
                            abpLocalization}}</label>
                        <div class="col">
                            <div [innerHtml]="branchListText"></div>
                        </div>
                    </div>
                    <div class="field grid">
                        <label for="earliestTreatmentDate" class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:EarliestTreatmentDate' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{hospitalResponse.possibleTreatmentDate | date: 'dd.MM.yyyy'}}
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:NumberOfPreOpHospitalizationDays' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{ hospitalResponse?.preOpHospitalizationNumber }}
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:NumberOfPostOpHospitalizationDays' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{ hospitalResponse?.postOpHospitalizationNumber }}
                        </div>
                    </div>
                    <div class="field grid">
                        <label class="col-fixed"
                            style="width:180px">{{'::HospitalResponse:Field:NumberOfIcHospitalizationDays' |
                            abpLocalization}}</label>
                        <div class="col">
                            {{ hospitalResponse?.icHospitalizationNumber }}
                        </div>
                    </div>
                </div>
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="height:15rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:HospitalDescription' |
                        abpLocalization}}
                    </legend>
                    {{hospitalResponse.description}}
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="height:100%;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:AnticipatedProcesses' |
                        abpLocalization}}
                    </legend>
                    <p-table #dt [value]="anticipatedProcesses" [rows]="5" styleClass="pt-3" [paginator]="true"
                        [globalFilterFields]="['description']" [rowHover]="true" [loading]="loading"
                        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                        [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ '::HospitalResponse:Process:Column:Code' | abpLocalization }}
                                </th>
                                <th>{{ '::HospitalResponse:Process:Column:Name' | abpLocalization }}
                                </th>
                                <th>{{ '::HospitalResponse:Process:Column:Amount' | abpLocalization }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-process>
                            <tr>
                                <td>{{process.process.code}}</td>
                                <td>{{process.process.name}}</td>
                                <td>{{process.amount}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <div class="m-3">
                                {{ '::Table:EmptyMessage' | abpLocalization }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between"
                                *ngIf="anticipatedProcesses.length > 0">
                                {{ '::Table:Summary' | abpLocalization:
                                anticipatedProcesses.length }}
                            </div>
                        </ng-template>
                    </p-table>
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 responseFieldSet" style="min-height:20rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::HospitalResponse:FieldLegend:AnticipatedMaterials' |
                        abpLocalization}}
                    </legend>
                    <p-table #dt [value]="anticipatedMaterials" [rows]="5" styleClass="pt-3" [paginator]="true"
                        [rowHover]="true" [loading]="loading"
                        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
                        [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ '::HospitalResponse:Material:Column:Name' |
                                    abpLocalization
                                    }}
                                </th>
                                <th>{{ '::HospitalResponse:Material:Column:Amount' |
                                    abpLocalization }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-material>
                            <tr>
                                <td>{{material.process.name}}</td>
                                <td>{{material.amount}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <div class="m-3">
                                {{ '::Table:EmptyMessage' | abpLocalization }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between"
                                *ngIf="anticipatedMaterials.length > 0">
                                {{ '::Table:Summary' | abpLocalization:
                                anticipatedMaterials.length }}
                            </div>
                        </ng-template>
                    </p-table>
                </fieldset>
                <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 mt-3 responseFieldSet" style="min-height:20rem;">
                    <legend class="float-none w-auto pl-3 pr-3 text-sm responseFieldSetlegend">
                        {{'::Proforma:Field:HospitalAgentNote' |
                        abpLocalization}}
                    </legend>
                    <app-agent-notes [readonly]="false" [hospitalResponseId]="hospitalResponse.id"></app-agent-notes>
                </fieldset>
            </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>