<p-toast></p-toast>


<h4>{{ '::Admin:Hospital:HospitalManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple label="{{ '::Admin:Hospital:NewHospital' | abpLocalization }}" icon="pi pi-plus"
                styleClass="p-button-success mr-2" (onClick)="openNewHospital()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="hospitalList" [rows]="10" [paginator]="true" responsiveLayout="stack" [breakpoint]="'960px'"
        [rowHover]="true" dataKey="Id" styleClass="p-datatable-gridlines"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{ '::Admin:Hospital:Column:Name' |
                    abpLocalization }} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="code">{{ '::Admin:Hospital:Column:Code' |
                    abpLocalization }} <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="address">{{ '::Admin:Hospital:Column:Address' |
                    abpLocalization }} <p-sortIcon field="address"></p-sortIcon></th>
                <th pSortableColumn="city.name">{{ '::Admin:Hospital:Column:City' |
                    abpLocalization }} <p-sortIcon field="city.name"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">{{ '::Admin:Hospital:Column:PhoneNumber' | abpLocalization
                    }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:Hospital:Column:EMail' | abpLocalization
                    }} <p-sortIcon field="email"></p-sortIcon></th>
                <th>{{ '::Admin:Hospital:Column:UHBStaffs' |
                    abpLocalization }}</th>
                <th>{{ '::Admin:Hospital:Column:Staffs' |
                    abpLocalization }}</th>
                <th>{{ '::Admin:Hospital:Column:Pricers' |
                    abpLocalization }}</th>
                <th class="text-center">{{ '::Admin:Hospital:Column:IsActive' | abpLocalization }}</th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hospital>
            <tr>
                <td>{{hospital.name}}</td>
                <td>{{hospital.code}}</td>
                <td>{{hospital.address}}</td>
                <td>{{hospital.city?.name}}</td>
                <td>{{hospital.phoneCountryCode?.phoneCode ?? hospital.phoneCountryCode?.phoneCode + '
                    '}}{{hospital.phoneNumber}}</td>
                <td>{{!hospital.email ? '-' : hospital.email}}</td>
                <td>
                    <div class="flex justify-content-between">
                        <div class="flex align-items-center"
                            [innerHTML]="!hospital.hospitalUHBStaffNames ? '-': hospital.hospitalUHBStaffNames"></div>
                        <p-button pRipple icon="pi pi-plus" styleClass="p-button-rounded p-button-info ml-2"
                            [pTooltip]="'::Admin:Hospital:Column:UHBStaffs' | abpLocalization"
                            (onClick)="openUHBStaffDialog(hospital)"></p-button>
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-between">
                        <div class="flex align-items-center"
                            [innerHTML]="!hospital.hospitalStaffNames ? '-': hospital.hospitalStaffNames"></div>
                        <p-button pRipple icon="pi pi-plus" styleClass="p-button-rounded p-button-info ml-2"
                            [pTooltip]="'::Admin:Hospital:Column:Staffs' | abpLocalization"
                            (onClick)="openStaffDialog(hospital)"></p-button>
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-between">
                        <div class="flex align-items-center"
                            [innerHTML]="!hospital.hospitalPricerNames ? '-': hospital.hospitalPricerNames"></div>
                        <p-button pRipple icon="pi pi-plus" styleClass="p-button-rounded p-button-info ml-2"
                            [pTooltip]="'::Admin:Hospital:Column:Pricers' | abpLocalization"
                            (onClick)="openPricerDialog(hospital)"></p-button>
                    </div>
                </td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': hospital.isActive, 'text-red-500 pi-times-circle': !hospital.isActive }"></i>
                </td>
                <td class="text-right">
                    <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success ml-2"
                        (onClick)="editHospital(hospital)"></p-button>
                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning ml-2"
                        (onClick)="deleteHospital(hospital)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="hospitalDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:Hospital:HospitalDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid">
    <form #hospitalForm="ngForm">
        <div *ngIf="hospital">
            <div class="field">
                <label for="name">{{ '::Admin:Hospital:Column:Name' | abpLocalization }}&nbsp;<font style="color:red">*
                    </font></label>
                <input type="text" pInputText id="name" name="name" #name="ngModel" [(ngModel)]="hospital.name" required
                    autofocus />
                <small class="p-error" *ngIf="!(name.valid || name.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="code">{{ '::Admin:Hospital:Column:Code' | abpLocalization }}&nbsp;<font style="color:red">*
                    </font></label>
                <input type="text" pInputText id="code" name="code" #code="ngModel" [(ngModel)]="hospital.code"
                    required />
                <small class="p-error" *ngIf="!(code.valid || code.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="address">{{ '::Admin:Hospital:Column:Address' | abpLocalization }}&nbsp;<font
                        style="color:red">*
                    </font></label>
                <textarea rows="2" pInputText id="address" name="address" #address="ngModel"
                    [(ngModel)]="hospital.address" required></textarea>
                <small class="p-error" *ngIf="!(address.valid || address.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="city">{{ '::Admin:Hospital:Column:City' | abpLocalization
                    }}&nbsp;<font style="color:red">*
                    </font></label>
                <p-dropdown id="city" name="city" [filter]="true" filterBy="name" [showClear]="true" #city="ngModel"
                    [options]="cityList" [(ngModel)]="hospital.cityId" [style]="{'width':'100%'}" filterLocale="tr-TR"
                    styleClass="filterDropDown" optionValue="id" placeholder="{{ '::Select' | abpLocalization }}"
                    optionLabel="name" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                    emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}" required>

                </p-dropdown>
                <small class="p-error" *ngIf="!(city.valid || city.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="phoneNumber">{{ '::Admin:Hospital:Column:PhoneNumber' | abpLocalization }}</label>
                <div class="flex">
                    <p-dropdown id="phoneCountryCode" name="phoneCountryCode" [filter]="true" filterBy="name"
                        [showClear]="true" #phoneCountryCode="ngModel" [options]="nationalityList" filterLocale="tr-TR"
                        [(ngModel)]="hospital.phoneCountryCodeId" [style]="{'width':'100px', 'margin-right':'10px'}"
                        styleClass="filterDropDown" optionValue="id" placeholder="{{ '::Select' | abpLocalization }}"
                        optionLabel="phoneCode" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                        emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                        <ng-template let-country pTemplate="item">
                            <div><b>{{ country.phoneCode }}</b> - {{ country.name }}</div>
                        </ng-template>
                    </p-dropdown>
                    <p-inputMask id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [unmask]="true"
                        mask="(999) 999-9999" [(ngModel)]="hospital.phoneNumber" placeholder="(999) 999-9999"
                        styleClass="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"></p-inputMask>
                </div>
            </div>
            <div class="field">
                <label for="email">{{ '::Admin:Hospital:Column:EMail' | abpLocalization }}</label>
                <input type="text" pInputText id="email" name="email" #email="ngModel" [email]="true"
                    [(ngModel)]="hospital.email" />
                <small class="p-error" *ngIf="email.errors?.email">{{ '::Message:WrongEmailFormat' |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:Hospital:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="hospital.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveHospital()" [disabled]="!(hospitalForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="hospitalStaffListDialog" [style]="{width: '80vw'}"
    header="{{ '::Admin:Hospital:HospitalStaffManagement' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="refreshHospital()">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple label="{{ '::Admin:HospitalStaff:NewHospitalStaff' | abpLocalization }}" icon="pi pi-plus"
                styleClass="p-button-success mr-2" (onClick)="openNewStaff()"></p-button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="hospitalStaffList" [rows]="10" [paginator]="true" responsiveLayout="stack"
        [breakpoint]="'960px'" [rowHover]="true"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nameSurname">{{ '::Admin:HospitalStaff:Column:NameSurname' |
                    abpLocalization }} <p-sortIcon field="nameSurname"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">{{ '::Admin:HospitalStaff:Column:PhoneNumber' |
                    abpLocalization }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:HospitalStaff:Column:Email' | abpLocalization
                    }} <p-sortIcon field="email"></p-sortIcon></th>
                <th class="text-center">{{ '::Admin:HospitalStaff:Column:IsDefault' | abpLocalization }}</th>
                <th class="text-center">{{ '::Admin:HospitalStaff:Column:IsActive' | abpLocalization }}</th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staff let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="staff">
                <td>{{staff.user?.name}} {{staff.user?.surname}}</td>
                <td>{{staff.user?.phoneNumber}}</td>
                <td>{{staff.user?.email}}</td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': staff.isDefault, 'text-red-500 pi-times-circle': !staff.isDefault }"></i>
                </td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': staff.isActive, 'text-red-500 pi-times-circle': !staff.isActive }"></i>
                </td>
                <td class="text-right">
                    <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2"
                        (onClick)="editStaff(staff)"></p-button>
                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                        (onClick)="deleteStaff(staff)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="hospitalStaffTotalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(hospitalStaffTotalRecords) }}
            </div>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog [(visible)]="hospitalUHBStaffListDialog" [style]="{width: '80vw'}"
    header="{{ '::Admin:Hospital:HospitalUHBStaffManagement' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="refreshHospital()">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple label="{{ '::Admin:HospitalUHBStaff:NewHospitalUHBStaff' | abpLocalization }}"
                icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="openNewUHBStaff()"></p-button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="hospitalUHBStaffList" [rows]="10" [paginator]="true" responsiveLayout="stack"
        [breakpoint]="'960px'" [rowHover]="true"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nameSurname">{{ '::Admin:HospitalUHBStaff:Column:NameSurname' |
                    abpLocalization }} <p-sortIcon field="nameSurname"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:HospitalUHBStaff:Column:Email' | abpLocalization
                    }} <p-sortIcon field="email"></p-sortIcon></th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staff let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="staff">
                <td>{{staff.name}} {{staff.surname}}</td>
                <td>{{staff.email}}</td>
                <td class="text-right">
                    <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2"
                        (onClick)="editUHBStaff(staff)"></p-button>
                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                        (onClick)="deleteUHBStaff(staff)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="hospitalUHBStaffTotalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(hospitalUHBStaffTotalRecords) }}
            </div>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog [(visible)]="hospitalPricerListDialog" [style]="{width: '80vw'}"
    header="{{ '::Admin:Hospital:HospitalPricerManagement' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="refreshHospital()">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button pRipple label="{{ '::Admin:HospitalPricer:NewHospitalPricer' | abpLocalization }}"
                icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="openNewPricer()"></p-button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="hospitalPricerList" [rows]="10" [paginator]="true" responsiveLayout="stack"
        [breakpoint]="'960px'" [rowHover]="true"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nameSurname">{{ '::Admin:HospitalPricer:Column:NameSurname' |
                    abpLocalization }} <p-sortIcon field="nameSurname"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">{{ '::Admin:HospitalPricer:Column:PhoneNumber' |
                    abpLocalization }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:HospitalPricer:Column:Email' | abpLocalization
                    }} <p-sortIcon field="email"></p-sortIcon></th>
                <th class="text-center">{{ '::Admin:HospitalPricer:Column:IsDefault' | abpLocalization }}</th>
                <th class="text-center">{{ '::Admin:HospitalPricer:Column:IsActive' | abpLocalization }}</th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pricer let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="pricer">
                <td>{{pricer.user?.name}} {{pricer.user?.surname}}</td>
                <td>{{pricer.user?.phoneNumber}}</td>
                <td>{{pricer.user?.email}}</td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': pricer.isDefault, 'text-red-500 pi-times-circle': !pricer.isDefault }"></i>
                </td>
                <td class="text-center"><i class="pi"
                        [ngClass]="{ 'text-green-500 pi-check-circle': pricer.isActive, 'text-red-500 pi-times-circle': !pricer.isActive }"></i>
                </td>
                <td class="text-right">
                    <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2"
                        (onClick)="editPricer(pricer)"></p-button>
                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                        (onClick)="deletePricer(pricer)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="hospitalPricerTotalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(hospitalPricerTotalRecords) }}
            </div>
        </ng-template>
    </p-table>
</p-dialog>

<p-dialog [(visible)]="hospitalUHBStaffEditDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:HospitalUHBStaff:HospitalUHBStaffDetails' | abpLocalization }}" [modal]="true"
    styleClass="p-fluid" (onHide)="hideUHBStaffDialog()">
    <form #hospitalUHBStaffEditForm="ngForm">
        <div *ngIf="hospitalUHBStaff">
            <div class="field">
                <label for="name">{{ '::Admin:HospitalUHBStaff:Column:Name' | abpLocalization
                    }}&nbsp;<font style="color:red">*</font></label>
                <input type="text" pInputText id="name" name="name" #name="ngModel" [(ngModel)]="hospitalUHBStaff.name"
                    required autofocus />
                <small class="p-error" *ngIf="!(name.valid || name.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="surname">{{ '::Admin:HospitalUHBStaff:Column:Surname' | abpLocalization
                    }}&nbsp;<font style="color:red">*</font></label>
                <input type="text" pInputText id="surname" name="surname" #surname="ngModel"
                    [(ngModel)]="hospitalUHBStaff.surname" required autofocus />
                <small class="p-error" *ngIf="!(surname.valid || surname.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="email">{{ '::Admin:HospitalUHBStaff:Column:Email' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <input type="text" pInputText id="email" name="email" #email="ngModel" [email]="true"
                    [(ngModel)]="hospitalUHBStaff.email" />
                <small class="p-error" *ngIf="email.errors?.email">{{ '::Message:WrongEmailFormat' |
                    abpLocalization }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideUHBStaffDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveHospitalUHBStaff()" [disabled]="!(hospitalUHBStaffEditForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="hospitalStaffEditDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:HospitalStaff:HospitalStaffDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideStaffDialog()">
    <form #hospitalStaffEditForm="ngForm">
        <div *ngIf="hospitalStaff">
            <div class="field">
                <label for="staff">{{ '::Admin:HospitalStaff:Column:Staff' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <p-dropdown id="staff" name="staff" #staff="ngModel" [filter]="true" filterBy="name" [showClear]="true"
                    [options]="allHospitalStaffs" [(ngModel)]="selectedHospitalStaff" filterLocale="tr-TR"
                    placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                    styleClass="filterDropDown" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                    emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}" required>
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedHospitalStaff">
                            <div>{{ selectedHospitalStaff.name }} {{ selectedHospitalStaff.surname }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-staff pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ staff.name }} {{ staff.surname }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="!(staff.valid || staff.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="isDefault">{{ '::Admin:HospitalStaff:Column:IsDefault' | abpLocalization
                    }}</label>
                <div class="w-full">
                    <p-checkbox id="isDefault" name="isDefault" #isDefault="ngModel"
                        [(ngModel)]="hospitalStaff.isDefault" [binary]="true"></p-checkbox>
                </div>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:HospitalStaff:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="hospitalStaff.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideStaffDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveHospitalStaff()" [disabled]="!(hospitalStaffEditForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="hospitalPricerEditDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:HospitalPricer:HospitalPricerDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hidePricerDialog()">
    <form #hospitalPricerEditForm="ngForm">
        <div *ngIf="hospitalPricer">
            <div class="field">
                <label for="pricer">{{ '::Admin:HospitalPricer:Column:Pricer' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <p-dropdown id="pricer" name="pricer" #pricer="ngModel" [filter]="true" filterBy="name"
                    [showClear]="true" [options]="allHospitalPricers" [(ngModel)]="selectedHospitalPricer"
                    placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}" filterLocale="tr-TR"
                    styleClass="filterDropDown" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                    emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}" required>
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedHospitalPricer">
                            <div>{{ selectedHospitalPricer.name }} {{ selectedHospitalPricer.surname }}</div>
                        </div>
                    </ng-template>
                    <ng-template let-pricer pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ pricer.name }} {{ pricer.surname }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="!(pricer.valid || pricer.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="isDefault">{{ '::Admin:HospitalPricer:Column:IsDefault' | abpLocalization
                    }}</label>
                <div class="w-full">
                    <p-checkbox id="isDefault" name="isDefault" #isDefault="ngModel"
                        [(ngModel)]="hospitalPricer.isDefault" [binary]="true"></p-checkbox>
                </div>
            </div>
            <div class="field">
                <label for="isActive">{{ '::Admin:HospitalPricer:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="hospitalPricer.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hidePricerDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveHospitalPricer()" [disabled]="!(hospitalPricerEditForm.valid)"></p-button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>