<p-toast></p-toast>


<h4>{{ '::Admin:Hospital:HospitalManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{ '::Admin:Hospital:NewHospital' | abpLocalization }}" icon="pi pi-plus"
                class="p-button-success mr-2" [loading]="loading" (click)="openNewHospital()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="hospitalList" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','phoneNumber','email']" [tableStyle]="{'min-width': '75rem'}" [rowHover]="true"
        dataKey="Id" [loading]="loading"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">{{ '::Admin:Hospital:Column:Name' |
                    abpLocalization }} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="phoneNumber">{{ '::Admin:Hospital:Column:PhoneNumber' | abpLocalization
                    }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                <th pSortableColumn="email">{{ '::Admin:Hospital:Column:EMail' | abpLocalization
                    }} <p-sortIcon field="email"></p-sortIcon></th>
                <th>{{ '::Admin:Hospital:Column:Staffs' |
                    abpLocalization }}</th>
                <th style="width:11rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hospital>
            <tr>
                <td>{{hospital.name}}</td>
                <td>{{!hospital.phoneNumber ? '-' : hospital.phoneNumber}}</td>
                <td>{{!hospital.email ? '-' : hospital.email}}</td>
                <td>{{!hospital.staffList ? '-': hospital.staffList}}</td>
                <td class="text-right">
                    <button pButton pRipple icon="pi pi-users" class="p-button-rounded p-button-info"
                        (click)="openStaffDialog(hospital)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success ml-2"
                        (click)="editHospital(hospital)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning ml-2"
                        (click)="deleteHospital(hospital)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="hospitalDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:Hospital:HospitalDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid">
    <form #hospitalForm="ngForm">
        <div *ngIf="hospital">
            <div class="field">
                <label for="name">{{ '::Admin:Hospital:Column:Name' | abpLocalization }}&nbsp;<font style="color:red">*
                    </font></label>
                <input type="text" pInputText id="name" name="name" #name="ngModel" [(ngModel)]="hospital.name" required
                    autofocus />
                <small class="p-error" *ngIf="!(name.valid || name.pristine)">{{ '::Message:RequiredField' |
                    abpLocalization
                    }}</small>
            </div>
            <div class="field">
                <label for="phoneNumber">{{ '::Admin:Hospital:Column:PhoneNumber' | abpLocalization }}</label>
                <div class="flex">
                    <p-dropdown id="phoneCountryCode" name="phoneCountryCode" [filter]="true" filterBy="name"
                        [showClear]="true" #phoneCountryCode="ngModel" [options]="nationalityList"
                        [(ngModel)]="hospital.phoneCountryCodeId" [style]="{'width':'100px', 'margin-right':'10px'}"
                        styleClass="filterDropDown" optionValue="id" placeholder="{{ '::Select' | abpLocalization }}"
                        optionLabel="phoneCode" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" 
                        emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                        <ng-template let-country pTemplate="item">
                            <div><b>{{ country.phoneCode }}</b> - {{ country.name }}</div>
                        </ng-template>
                    </p-dropdown>
                    <input type="text" pInputText id="phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
                        [(ngModel)]="hospital.phoneNumber" maxlength="20" class="w-10rem" />
                </div>
            </div>
            <div class="field">
                <label for="email">{{ '::Admin:Hospital:Column:EMail' | abpLocalization }}</label>
                <input type="text" pInputText id="email" name="email" #email="ngModel" [(ngModel)]="hospital.email" />
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveHospital()" [disabled]="!(hospitalForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="hospitalStaffListDialog" [style]="{width: '80vw'}"
    header="{{ '::Admin:Hospital:HospitalStaffManagement' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="refreshHospital()">
    <form #hospitalStaffForm="ngForm">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="{{ '::Admin:HospitalStaff:NewHospitalStaff' | abpLocalization }}"
                    icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewStaff()"
                    [loading]="loading"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="hospitalStaffList" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nameSurname','phoneNumber','email']" [tableStyle]="{'min-width': '100%'}"
            [rowHover]="true" [loading]="loading"
            currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nameSurname">{{ '::Admin:HospitalStaff:Column:NameSurname' |
                        abpLocalization }} <p-sortIcon field="nameSurname"></p-sortIcon></th>
                    <th pSortableColumn="phoneNumber">{{ '::Admin:HospitalStaff:Column:PhoneNumber' |
                        abpLocalization }} <p-sortIcon field="phoneNumber"></p-sortIcon></th>
                    <th pSortableColumn="email">{{ '::Admin:HospitalStaff:Column:Email' | abpLocalization
                        }} <p-sortIcon field="email"></p-sortIcon></th>
                    <th>{{ '::Admin:HospitalStaff:Column:IsActive' | abpLocalization }}</th>
                    <th style="width:8rem;"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-staff let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="staff">
                    <td>{{staff.user?.name}} {{staff.user?.surname}}</td>
                    <td>{{staff.user?.phoneNumber}}</td>
                    <td>{{staff.user?.email}}</td>
                    <td><i class="pi"
                            [ngClass]="{ 'text-green-500 pi-check-circle': staff.isActive, 'text-red-500 pi-times-circle': !staff.isActive }"></i>
                    </td>
                    <td class="text-right">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteStaff(staff)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div class="m-3">
                    {{ '::Table:EmptyMessage' | abpLocalization }}
                </div>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between" *ngIf="hospitalStaffTotalRecords > 0">
                    {{ '::Table:Summary' | abpLocalization:(hospitalStaffTotalRecords) }}
                </div>
            </ng-template>
        </p-table>
    </form>
</p-dialog>

<p-dialog [(visible)]="hospitalStaffEditDialog" [style]="{width: '450px'}"
    header="{{ '::Admin:HospitalStaff:HospitalStaffDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid">
    <form #hospitalStaffEditForm="ngForm">
        <div *ngIf="hospitalStaff">
            <div class="field">
                <label for="staff">{{ '::Admin:HospitalStaff:Column:Staff' | abpLocalization }}&nbsp;<font
                        style="color:red">*</font></label>
                <p-multiSelect id="staff" name="staff" #staff="ngModel" [filter]="true" filterBy="name"
                    [showClear]="true" [options]="uhbUserList" [(ngModel)]="selectedHospitalStaff"
                    placeholder="{{ '::Select' | abpLocalization }}" [style]="{'width':'100%'}"
                    styleClass="filterDropDown" appendTo="body" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}" 
                    emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="flex align-items-center gap-2" *ngFor="let staff of selectedHospitalStaff">
                            <div>{{ staff.name + " " + staff.surname }}</div>
                        </div>
                        <div *ngIf="!selectedHospitalStaff || selectedHospitalStaff.length === 0">{{ '::Select' | abpLocalization }}</div>
                    </ng-template>
                    <ng-template let-staff pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ staff.name  + " " + staff.surname}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <small class="p-error" *ngIf="!(staff.valid || staff.pristine)">{{ '::Message:RequiredField'
                    |
                    abpLocalization }}</small>
            </div>

            <div class="field">
                <label for="isActive">{{ '::Admin:HospitalStaff:Column:IsActive' | abpLocalization }}</label>
                <div class="w-full">
                    <p-checkbox id="isActive" name="isActive" #isActive="ngModel" [(ngModel)]="hospitalStaff.isActive"
                        [binary]="true"></p-checkbox>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text"
            (click)="hideStaffDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text"
            (click)="saveHospitalStaff()" [disabled]="!(hospitalStaffEditForm.valid)"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}"></p-confirmDialog>