<div class="grid">
    <div class="col-6">
        <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 quotationFieldSet" style="height:100%;">
            <legend class="float-none w-auto pl-3 pr-3 text-sm quotationFieldSetlegend">
                {{'::Quotation:FieldLegend:HBYSProcesses' |
                abpLocalization}}
            </legend>
        </fieldset>
    </div>
    <div class="col-6">
        <fieldset class="border pl-3 pr-3 pt-2 pb-3 m-2 quotationFieldSet" style="height:100%;">
            <legend class="float-none w-auto pl-3 pr-3 text-sm quotationFieldSetlegend">
                {{'::Quotation:FieldLegend:Quotation' |
                abpLocalization}}
            </legend>
        </fieldset>
    </div>
</div>