<p-toolbar styleClass="customToolbar">
    <div class="p-toolbar-group-start">
        <div class="ml-3" *ngIf="processes && processes.length > 0 && completedRecordCount > 0">
            <p-checkbox [(ngModel)]="showCompletedRecords" [binary]="true"
                inputId="chkShowCompletedRecords"></p-checkbox>
            <label class="ml-3" for="chkShowCompletedRecords">{{"::TreatmentProcess:ShowCompletedRecords" |
                abpLocalization}}</label>
        </div>
    </div>
    <div class="p-toolbar-group-end p-0">
        <p-button pRipple label="{{ '::TreatmentProcess:StartTreatmentProcess' | abpLocalization }}"
            icon="pi pi-plus" styleClass="p-button-success mr-2" (onClick)="newTreatmentProcess()"></p-button>
    </div>
</p-toolbar>

<p-table #dt [value]="processes" [rows]="5" styleClass="pt-3" [paginator]="true"
    *ngIf="processes && processes.length > 0" [rowHover]="true" selectionMode="single" [(selection)]="selectedProcess"
    currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
    [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="treatmentCode">{{ '::TreatmentProcess:Column:Code' | abpLocalization }} <p-sortIcon
                    field="treatmentCode"></p-sortIcon></th>
            <th pSortableColumn="State">{{ '::TreatmentProcess:Column:State' | abpLocalization }}
                <p-sortIcon field="state"></p-sortIcon>
            </th>
            <th style="width: 15rem" pSortableColumn="CreatedBy">{{ '::TreatmentProcess:Column:CreatedBy' |
                abpLocalization }}
                <p-sortIcon field="CreatedBy"></p-sortIcon>
            </th>
            <th style="width: 15rem" pSortableColumn="creationTime">{{ '::TreatmentProcess:Column:Created' |
                abpLocalization
                }}
                <p-sortIcon field="creationTime"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-process>
        <tr [pSelectableRow]="process" class="cursor-pointer" (click)="onDisplayTreatmentProcessDetail()">
            <td>{{process.treatmentCode}}</td>
            <td>{{process.treatmentProcessStatus?.name}}</td>
            <td>{{process.creator?.name + (process.creator?.surname ? (" " + process.creator?.surname) : "")}}</td>
            <td>{{process.creationTime | date: 'dd.MM.yyyy'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div class="m-3">
            {{ '::Table:EmptyMessage' | abpLocalization }}
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
            {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
        </div>
    </ng-template>
</p-table>

<div class="mt-2" *ngIf="displayProcessDetail">
    <p-tabView>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="fas fa-hospital-user text-sm mr-2"></i>
                <span>{{'::TreatmentProcess:Step:SalesAndAttendantInfo'|abpLocalization}}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <app-companion-info [patientTreatmentProcessId]="selectedProcess?.id"
                    [salesInfoAndCompanionInfo]="salesAndCompanionInfo"
                    (save)="onSaveSalesInfoAndCompanionInfo()"></app-companion-info>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="!doesHaveAnySalesMethodAndCompanionInfo" [cache]="false">
            <ng-template pTemplate="header">
                <i class="fas fa-hospital-symbol text-sm mr-2"></i>
                <span>{{'::TreatmentProcess:Step:HospitalConsultation'|abpLocalization}}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <app-hospital-consultation [patientId]="patient.id" [patientTreatmentId]="selectedProcess?.id"
                    (onConsultationChange)="consultationChanged($event)"></app-hospital-consultation>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="!doesHaveAnySalesMethodAndCompanionInfo" [cache]="false">
            <ng-template pTemplate="header">
                <i class="fas fa-project-diagram text-sm mr-2"></i>
                <span>{{'::TreatmentProcess:Step:OperationalInformation'|abpLocalization}}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <app-operational-info [patientTreatmentId]="selectedProcess?.id" [patient]="patient"
                (onOperationChange)="operationChanged($event)"></app-operational-info>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel [disabled]="!doesHaveAnySalesMethodAndCompanionInfo" [cache]="false">
            <ng-template pTemplate="header">
                <i class="fas fa-file-invoice-dollar text-sm mr-2"></i>
                <span>{{'::TreatmentProcess:Step:ProcessQuotationRevenue'|abpLocalization}}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <app-quotation [patientTreatmentId]="selectedProcess?.id" [patient]="patient" (onQuotationChange)="quotationChanged($event)"></app-quotation>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>

<p-confirmDialog key="treatmentProcessConfirm" [style]="{width: '450px'}"
    rejectLabel="{{ '::Reject' | abpLocalization }}" acceptLabel="{{ '::Accept' | abpLocalization }}"
    rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>