<p-toolbar styleClass="customToolbar">
    <div class="p-toolbar-group-start">
        <div class="ml-3" *ngIf="allDocuments && allDocuments.length > 0 && revokedRecordCount > 0">
            <p-checkbox [(ngModel)]="showRevokedRecords" [binary]="true" inputId="chkShowRevokedRecords"
                (click)="onShowRevokedRecords()"></p-checkbox>
            <label class="ml-3" for="chkShowRevokedRecords">{{"::ShowRevokedRecords" | abpLocalization}}</label>
        </div>
    </div>
    <div class="p-toolbar-group-end p-0">
        <p-button pRipple label="{{ '::New' | abpLocalization }}" icon="pi pi-plus" styleClass="p-button-success mr-2"
            (onClick)="openNew()" [loading]="loading"  *ngIf="isAllowedToManage"></p-button>
    </div>
</p-toolbar>

<p-table #dt [value]="documentsToBeDisplayed" [rows]="5" styleClass="pt-3" [paginator]="true"
    [globalFilterFields]="['fileName','description']" [rowHover]="true" [loading]="loading"
    currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
    [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="fileName">{{ '::Documents:Column:FileName' | abpLocalization }} <p-sortIcon
                    field="fileName"></p-sortIcon></th>
            <th pSortableColumn="description">{{ '::Documents:Column:Description' | abpLocalization }} <p-sortIcon
                    field="description"></p-sortIcon></th>
            <th pSortableColumn="documentType.name">{{ '::Documents:Column:DocumentType' | abpLocalization }} <p-sortIcon
                    field="documentType.name"></p-sortIcon></th>
            <th style="width: 12rem" pSortableColumn="creator.name">{{ '::Documents:Column:CreatedBy' | abpLocalization
                }}
                <p-sortIcon field="creator.name"></p-sortIcon>
            </th>
            <th style="width: 12rem" pSortableColumn="creationTime">{{ '::Documents:Column:Created' | abpLocalization }}
                <p-sortIcon field="creationTime"></p-sortIcon>
            </th>
            <th style="width: 4rem" *ngIf="isAllowedToManage"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-document>
        <tr>
            <td><a class="cursor-pointer text-gray-900" (click)="showFile(document.id)">{{document.fileName}}</a>
                <p-tag severity="warning" value="{{ '::Revoked' | abpLocalization }}" [rounded]="true"
                    styleClass="revokeTag" class="ml-3"
                    *ngIf="document.patientDocumentStatusId === patientDocumentStatusEnum.Revoked"></p-tag>
            </td>
            <td>
                <div class="overflow cursor-pointer" [pTooltip]="document.description" tooltipStyleClass="wideTooltip"
                    tooltipPosition="bottom">{{document.description}}
                </div>
            </td>
            <td>{{document.documentType?.name}}</td>
            <td>{{document.creator?.name + (document.creator?.surname ? (" " + document.creator?.surname) : "")}}</td>
            <td>{{document.creationTime | date: 'dd.MM.yyyy'}}</td>
            <td *ngIf="isAllowedToManage">
                <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"
                    (onClick)="revokeDocument(document)"
                    [disabled]="document.patientDocumentStatusId === patientDocumentStatusEnum.Revoked"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div class="m-3">
            {{ '::Table:EmptyMessage' | abpLocalization }}
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between" *ngIf="totalRecords > 0">
            {{ '::Table:Summary' | abpLocalization: totalRecords }}
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="documentDialog" [style]="{width: '450px'}"
    header="{{ '::Documents:DocumentDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideDialog()">
    <form #documentForm="ngForm">
        <div *ngIf="document">
            <div class="field">
                <label for="documents">{{ '::Documents:Column:Document' | abpLocalization }} <font style="color:red">*
                    </font>
                </label>
                <p-fileUpload #documents id="documents" name="documents"
                    chooseLabel="{{ '::ChooseFile' | abpLocalization}}" (onSelect)="onSelect($event)"
                    maxFileSize="10000000" [auto]="true">
                    <ng-template let-file pTemplate="file">
                        <div class="inline-flex m-2">
                            <div class="fileContainer flex flex-wrap">
                                <div class="flex align-items-center justify-content-center">
                                    <div class="flex p-2">
                                        <i class="pi pi-image fileIcon"
                                            *ngIf="file.type == 'image/jpeg' || file.type == 'image/png'"></i>
                                        <i class="pi pi-file-pdf fileIcon" *ngIf="file.type == 'application/pdf'"></i>
                                        <i class="pi pi-file-word fileIcon"
                                            *ngIf="file.type == 'application/msword' || file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                        <i class="pi pi-file-excel fileIcon"
                                            *ngIf="file.type == 'application/msexcel' || file.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                        <i class="pi pi-file fileIcon" *ngIf="file.type != 'application/pdf' && 
                                            file.type != 'application/msword' && 
                                            file.type != 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' && 
                                            file.type != 'application/msexcel' && 
                                            file.type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && 
                                            file.type != 'image/jpeg' && 
                                            file.type != 'image/png'"></i>
                                    </div>
                                    <div class="flex flex-column p-2">
                                        <div class="fileName mb-2 font-medium cursor-pointer" (click)="openFile(file)">
                                            {{file.name}}</div>
                                        <div class="fileSize">{{file.size / 1024 | number: '1.0-2'}} Kb</div>
                                    </div>
                                    <div class="flex p-2 cursor-pointer" (click)="removeFile()">
                                        <i class="pi pi-times-circle text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-fileUpload>
                <small class="p-error" *ngIf="!uploadedDocuments || uploadedDocuments?.length == 0">{{
                    '::Message:RequiredField' | abpLocalization }}</small>
            </div>
            <div class="field">
                <label for="documentType">{{ '::Documents:Column:DocumentType' | abpLocalization }}</label>
                <p-dropdown id="documentType" name="documentType" #documentType="ngModel" [options]="documentTypeList"
                    [(ngModel)]="document.documentTypeId" placeholder="{{ '::Select' | abpLocalization }}"
                    [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="id" optionLabel="name"
                    emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-dropdown>
            </div>
            <div class="field">
                <label for="description">{{ '::Documents:Column:Description' | abpLocalization }}</label>
                <textarea rows="5" pInputText id="description" name="description" #description="ngModel"
                    [(ngModel)]="document.description"></textarea>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="saveDocument()" [disabled]="!(documentForm.valid) || uploadedDocuments?.length== 0"></p-button>
    </p-footer>

</p-dialog>

<p-confirmDialog key="documentConfirm" [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>