<p-toolbar styleClass="customToolbar" *ngIf="false">
    <div class="p-toolbar-group-start">
    </div>
    <div class="p-toolbar-group-end p-0">
        <p-button pRipple label="{{ '::Payment:NewPayment' | abpLocalization }}" icon="pi pi-plus"
        styleClass="p-button-success ml-2" (onClick)="onNewPayment()"></p-button>
    </div>
</p-toolbar>

<p-table #dt [value]="paymentList" [rows]="5" styleClass="pt-3" [paginator]="true" [rowHover]="true"
    [loading]="loading"
    currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
    [showCurrentPageReport]="false" [alwaysShowPaginator]="false">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="proformaNumber">{{ '::Payment:Column:ProformaCode' |
                abpLocalization }}
                <p-sortIcon field="proformaNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="generatedRowNumber">{{ '::Payment:Column:RowNumber' |
                abpLocalization }}
                <p-sortIcon field="generatedRowNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="paymentDate">{{ '::Payment:Column:PaymentDate' |
                abpLocalization }}
                <p-sortIcon field="paymentDate"></p-sortIcon>
            </th>
            <th pSortableColumn="fileNumber">{{ '::Payment:Column:FileNumber' |
                abpLocalization }}
                <p-sortIcon field="fileNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="processingNumber">{{ '::Payment:Column:ProcessingNumber' |
                abpLocalization }}
                <p-sortIcon field="processingNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="payerNameSurname">{{ '::Payment:Column:PayerNameSurname' |
                abpLocalization }}
                <p-sortIcon field="payerNameSurname"></p-sortIcon>
            </th>
            <th pSortableColumn="collectorNameSurname">{{ '::Payment:Column:CollectorNameSurname' |
                abpLocalization }}
                <p-sortIcon field="collectorNameSurname"></p-sortIcon>
            </th>
            <th pSortableColumn="paymentReason.name">{{ '::Payment:Column:PaymentReason' |
                abpLocalization }}
                <p-sortIcon field="paymentReason.name"></p-sortIcon>
            </th>
            <th pSortableColumn="totalPrice">{{ '::Payment:Column:TotalPrice' |
                abpLocalization }}
                <p-sortIcon field="totalPrice"></p-sortIcon>
            </th>
            <th pSortableColumn="description">{{ '::Payment:Column:Description' |
                abpLocalization }}
                <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th class="text-center">{{ '::Payment:Column:Document' |
                abpLocalization }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
        <tr>
            <td>{{payment.proformaNumber}}</td>
            <td>{{payment.generatedRowNumber}}</td>
            <td>{{payment.paymentDate | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td>{{payment.fileNumber}}</td>
            <td>{{payment.processingNumber}}</td>
            <td>{{payment.payerNameSurname}}</td>
            <td>{{payment.collectorNameSurname}}</td>
            <td>{{payment.paymentReason?.name}}</td>
            <td>{{payment.totalPrice | currency:'TRY':'symbol':'0.2-2'}}</td>
            <td>{{payment.description}}</td>
            <td class="text-center">
                <i class="pi pi-download cursor-pointer mr-2" (click)="download(payment)"></i>
                <i class="pi pi-upload cursor-pointer" (click)="upload(payment.id)"></i></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <div class="m-3">
            {{ '::Table:EmptyMessage' | abpLocalization }}
        </div>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between" *ngIf="totalCount > 0">
            {{ '::Table:Summary' | abpLocalization: totalCount }}
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="displayUploadInvoice" [style]="{width: '40vw'}"
    header="{{ '::Payment:UploadInvoiceDialog:Title' | abpLocalization }}" [modal]="true" styleClass="p-fluid"
    (onHide)="hideUploadInvoiceDialog()">
    <form #uploadForm="ngForm">
        <div>
            <div class="field">
                <label for="invoice">{{ '::Payment:UploadInvoiceDialog:Field:Invoice' | abpLocalization }} <font style="color:red">*
                    </font>
                </label>
                <p-fileUpload #invoice id="invoice" name="invoice"
                    chooseLabel="{{ '::ChooseFile' | abpLocalization}}" (onSelect)="onSelect($event)"
                    maxFileSize="10000000" [auto]="true">
                    <ng-template let-file pTemplate="file">
                        <div class="inline-flex m-2">
                            <div class="fileContainer flex flex-wrap">
                                <div class="flex align-items-center justify-content-center">
                                    <div class="flex p-2">
                                        <i class="pi pi-image fileIcon"
                                            *ngIf="file.type == 'image/jpeg' || file.type == 'image/png'"></i>
                                        <i class="pi pi-file-pdf fileIcon" *ngIf="file.type == 'application/pdf'"></i>
                                        <i class="pi pi-file-word fileIcon"
                                            *ngIf="file.type == 'application/msword' || file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                                        <i class="pi pi-file-excel fileIcon"
                                            *ngIf="file.type == 'application/msexcel' || file.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                                        <i class="pi pi-file fileIcon" *ngIf="file.type != 'application/pdf' && 
                                            file.type != 'application/msword' && 
                                            file.type != 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' && 
                                            file.type != 'application/msexcel' && 
                                            file.type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && 
                                            file.type != 'image/jpeg' && 
                                            file.type != 'image/png'"></i>
                                    </div>
                                    <div class="flex flex-column p-2">
                                        <div class="fileName mb-2 font-medium cursor-pointer" (click)="openFile(file)">
                                            {{file.name}}</div>
                                        <div class="fileSize">{{file.size / 1024 | number: '1.0-2'}} Kb</div>
                                    </div>
                                    <div class="flex p-2 cursor-pointer" (click)="removeFile()">
                                        <i class="pi pi-times-circle text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-fileUpload>
                <small class="p-error" *ngIf="!uploadedInvoices || uploadedInvoices?.length == 0">{{
                    '::Message:RequiredField' | abpLocalization }}</small>
            </div>
        </div>
    </form>
    <p-footer>
        <p-button pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" styleClass="p-button-text"
            (onClick)="hideUploadInvoiceDialog()"></p-button>
        <p-button pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" styleClass="p-button-text"
            (onClick)="uploadInvoice()" [disabled]="!(uploadForm.valid) || uploadForm?.length== 0"></p-button>
    </p-footer>

</p-dialog>

<p-confirmDialog key="paymentListConfirm" [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>