@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeflex/primeflex.css";

/* You can add global styles to this file, and also import other style files */

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --theme-color: #00adbb;
  --theme-light-color: #bee0ec;
  --lpx-logo: url('/assets/images/logo/logo-sb1.svg');
  --lpx-logo-icon: url('/assets/images/logo/logo-small.png');
  --lpx-brand: var(--theme-color);
  --bs-nav-tabs-link-active-color: var(--theme-color);
  --bs-nav-tabs-link-active-border-color: var(--theme-color);
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;

  &.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.lpx-topbar-container .lpx-topbar {
  border-radius: 0px;
}

.nav-pills {
  --bs-nav-pills-link-active-color: var(--theme-color);
  --bs-nav-pills-link-active-bg: var(--theme-light-color);
}

.form-check-input:checked {
  border-color: var(--theme-color) !important;
  background-color: var(--theme-color);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--theme-color);
}

.confirmation {
  z-index: 1200 !important;
}

/*PrimeNg Theme Custumization*/

.p-component {
  font-family: var(--bs-body-font-family);
  font-size: 0.9rem;
}

/*.p-button {
  font-size: 0.8rem;
}*/

.filterAccordionClass .p-accordion-tab {
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.12);
}

.filterDropDown.p-multiselect {
  font-size: 0.875rem !important;
  border-color: var(--surface-border) !important;
  background-color: var(--surface-overlay) !important;
  color: var(--text-color-secondary) !important;
}

.filterDropDown.p-multiselect .p-multiselect-label-container .p-multiselect-label {
  padding: 0.5rem !important;
}

.filterDropDown.p-multiselect.p-multiselect-chip .p-multiselect-token {
  padding: 0rem 0.3rem !important;
  font-size: 0.875rem !important;
  color: var(--text-color-secondary) !important;
}

.filterDropDown.p-dropdown {
  border-color: var(--surface-border) !important;
}

.filterDropDown.p-dropdown .p-dropdown-label {
  font-size: 0.875rem !important;
  color: var(--text-color-secondary) !important;
}

.filterDropDown.p-dropdown .p-inputtext {
  padding: 0.5rem !important;
}

.customCalendar.p-calendar {
  border-color: var(--surface-border) !important;
}

.customCalendar.p-calendar .p-inputtext {
  padding: 0.5rem !important;
  color: var(--text-color-secondary) !important;
}

.p-datepicker table td > span {
  color: var(--text-color-secondary) !important;
}

.customInputMask.p-inputtext {
  border-color: var(--surface-border) !important;
  padding: 0.5rem !important;
  color: var(--text-color-secondary) !important;
}

.layout-wrapper.layout-menu-horizontal .layout-sidebar {
  top: 45px;
  padding: 0px 0px 3px 10px;
}

.layout-wrapper.layout-menu-horizontal .layout-main {
  padding-top: 100px;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  font-size: 0.9rem;
}

.p-menubar .p-menuitem-link {
  font-size: 0.9rem;
}

.p-menubar .p-submenu-list {
  width:20rem;
}

.p-toolbar {
  border: 0px;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  font-size: 0.875rem !important
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  font-size: 0.875rem !important
}

.p-calendar .p-datepicker table {
  font-size: 0.875rem !important
}

.grid {
  margin-top: 0px;
}

.p-tabview .p-tabview-nav {
  padding-bottom: 1px;
}

.confirmation {
  z-index: 12000 !important;
}