<p-toast></p-toast>


<h4>{{ '::Admin:PatientNoteStatus:PatientNoteStatusManagement' | abpLocalization }}</h4>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{ '::Admin:PatientNoteStatus:NewPatientNoteStatus' | abpLocalization }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewPatientNoteStatus()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="patientNoteStatusList" [rows]="10" [paginator]="true" [globalFilterFields]="['Name','Description']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="Id" currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Name">{{ '::Admin:PatientNoteStatus:Column:Name' | abpLocalization }} <p-sortIcon field="Name"></p-sortIcon></th>
                <th pSortableColumn="Code">{{ '::Admin:PatientNoteStatus:Column:Description' | abpLocalization }} <p-sortIcon field="Description"></p-sortIcon></th>
                <th style="width:8rem;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patientNoteStatus>
            <tr>
                <td>{{patientNoteStatus.Name}}</td>
                <td>{{patientNoteStatus.Description}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPatientNoteStatus(patientNoteStatus)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePatientNoteStatus(patientNoteStatus)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                {{ '::Table:Summary' | abpLocalization:(patientNoteStatusList ? patientNoteStatusList.length : 0):(("::Admin:PatientNoteStatus:Name" | abpLocalization) | lowercase) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="patientNoteStatusDialog" [style]="{width: '450px'}" header="{{ '::Admin:PatientNoteStatus:PatientNoteStatusDetails' | abpLocalization }}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">{{ '::Admin:PatientNoteStatus:Column:Name' | abpLocalization }} *</label>
            <input type="text" pInputText id="name" [(ngModel)]="patientNoteStatus.Name" required autofocus />
            <small class="p-error" *ngIf="submitted && !patientNoteStatus.Name">{{ '::Message:RequiredField' | abpLocalization }}</small>
        </div>
        <div class="field">
            <label for="description">{{ '::Admin:PatientNoteStatus:Column:Description' | abpLocalization }} *</label>
            <input type="text" pInputText id="description" [(ngModel)]="patientNoteStatus.Description" required autofocus />
            <small class="p-error" *ngIf="submitted && !patientNoteStatus.Description">{{ '::Message:RequiredField' | abpLocalization }}</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ '::Cancel' | abpLocalization }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ '::Save' | abpLocalization }}" icon="pi pi-check" class="p-button-text" (click)="savePatientNoteStatus()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}" acceptLabel="{{ '::Accept' | abpLocalization }}"></p-confirmDialog>