<p-toast></p-toast>

<h4>{{ '::Patients:Title' | abpLocalization }}</h4>

<div class="mb-3">
    <p-accordion styleClass="filterAccordionClass">
        <p-accordionTab iconPos="start">
            <ng-template pTemplate="header"><i class="pi pi-filter mr-2 opacity-70"></i><b>{{ '::Filter' |
                    abpLocalization }}</b></ng-template>
            <div class="grid">
                <div class="col mr-4">
                    <div class="field grid mb-2">
                        <label for="filterName" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Name' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <input id="filterName" pInputText type="text" [(ngModel)]="patientFilter.name"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterSurname" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Surname' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <input id="filterSurname" pInputText type="text" [(ngModel)]="patientFilter.surname"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterNationality" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:Nationality' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-multiSelect id="filterNationality" [options]="nationalityList" [filter]="true"
                                filterBy="name" [(ngModel)]="patientFilter.nationalityIds" display="chip" filterLocale="tr-TR"
                                [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="id"
                                optionLabel="name" emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"
                                emptyFilterMessage="{{ '::EmptyFilterMessage' | abpLocalization }}"></p-multiSelect>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterPassportNo" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:PassportNo' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <input id="filterPassportNo" pInputText type="text"
                                [(ngModel)]="patientFilter.passportNumber"
                                class="text-sm text-color-secondary surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                    </div>
                </div>
                <div class="col mr-4">
                    <div class="field grid mb-2">
                        <label for="filterGender" class="col-12 mb-2 md:col-3 md:mb-0">{{ '::Patients:Column:Gender' |
                            abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-multiSelect id="filterGender" [options]="genderList"
                                [(ngModel)]="patientFilter.genderIds" display="chip" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-multiSelect>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterNativeLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:NativeLanguage' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-multiSelect id="filterNativeLanguage" [options]="languageList"
                                [(ngModel)]="patientFilter.motherTongueIds" display="chip" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-multiSelect>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterSecondLanguage" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:SecondLanguage' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-multiSelect id="filterSecondLanguage" [options]="languageList"
                                [(ngModel)]="patientFilter.secondTongueIds" display="chip" [style]="{'width':'100%'}"
                                styleClass="filterDropDown" optionValue="id" optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-multiSelect>
                        </div>
                    </div>
                    <div class="field grid mb-2">
                        <label for="filterTreatmentProcess" class="col-12 mb-2 md:col-3 md:mb-0">{{
                            '::Patients:Column:TreatmentProcess' | abpLocalization }}</label>
                        <div class="col-12 md:col-9">
                            <p-multiSelect id="filterTreatmentProcess" [options]="processStatusList"
                                [(ngModel)]="patientFilter.patientTreatmentProcessStatusIds" display="chip"
                                [style]="{'width':'100%'}" styleClass="filterDropDown" optionValue="id"
                                optionLabel="name"
                                emptyMessage="{{ '::EmptyMessage' | abpLocalization }}"></p-multiSelect>
                        </div>
                    </div>
                </div>
                <div class="col flex align-self-end mb-2">
                    <p-button pRipple label="{{ '::ClearFilter' | abpLocalization }}" icon="pi pi-filter-slash"
                    styleClass="p-button-success" (onClick)="onClearFilters()"></p-button>
                    <p-button pRipple label="{{ '::Filter' | abpLocalization }}" icon="pi pi-filter-fill"
                    styleClass="p-button-success ml-2" (onClick)="onFilter()"></p-button>
                </div>
            </div>

        </p-accordionTab>
    </p-accordion>
</div>
<div class="card">
    <p-toolbar styleClass="mb-4 gap-2" *ngIf="isAllowedToManage">
        <ng-template pTemplate="left">
            <p-button pRipple label="{{ '::Patients:NewPatient' | abpLocalization }}" icon="pi pi-plus"
            styleClass="p-button-success mr-2" (onClick)="openNewPatient()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="patientList" [rows]="10" [paginator]="true" [globalFilterFields]="[]"
        [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="Id"
        currentPageReportTemplate="{{'::Table:PageSummary' | abpLocalization:'first':'last':'totalRecords'}}"
        [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{ '::Patients:Column:Name' | abpLocalization }} <p-sortIcon
                        field="Name"></p-sortIcon></th>
                <th pSortableColumn="surname">{{ '::Patients:Column:Surname' | abpLocalization }} <p-sortIcon
                        field="Surname"></p-sortIcon></th>
                <th pSortableColumn="nationality">{{ '::Patients:Column:Nationality' | abpLocalization }} <p-sortIcon
                        field="nationality"></p-sortIcon></th>
                <th pSortableColumn="passportNumber">{{ '::Patients:Column:PassportNo' | abpLocalization }} <p-sortIcon
                        field="passportNunber"></p-sortIcon></th>
                <th pSortableColumn="birthDate">{{ '::Patients:Column:BirthDate' | abpLocalization }} <p-sortIcon
                        field="birthDate"></p-sortIcon></th>
                <th pSortableColumn="gender">{{ '::Patients:Column:Gender' | abpLocalization }} <p-sortIcon
                        field="gender"></p-sortIcon></th>
                <th pSortableColumn="language">{{ '::Patients:Column:NativeLanguage' | abpLocalization }} <p-sortIcon
                        field="language"></p-sortIcon></th>
                <th pSortableColumn="treatmentProcess">{{ '::Patients:Column:TreatmentProcess' | abpLocalization }}
                    <p-sortIcon field="treatmentProcess"></p-sortIcon>
                </th>
                <th pSortableColumn="creationTime">{{ '::Patients:Column:Created' | abpLocalization }} <p-sortIcon
                        field="creationTime"></p-sortIcon></th>
                <th pSortableColumn="creator.name">{{ '::Patients:Column:CreatedBy' | abpLocalization }} <p-sortIcon
                        field="creator.name"></p-sortIcon></th>
                <th class="w-8rem" *ngIf="isAllowedToManage"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
            <tr class="cursor-pointer" (click)="editPatientByRowClick($event, patient.id)">
                <td>{{patient.name}}</td>
                <td>{{patient.surname}}</td>
                <td>{{patient.nationality ? patient.nationality.name : '-'}}</td>
                <td>{{patient.passportNumber}}</td>
                <td>{{patient.birthDate | date: "dd.MM.yyyy"}}</td>
                <td>{{patient.gender?.name}}</td>
                <td>{{patient.motherTongue ? patient.motherTongue.name : '-'}}</td>
                <td>{{patient.patientTreatmentProcesses[0] ? (patient.patientTreatmentProcesses[0]?.treatmentCode + " ("
                    +
                    patient.patientTreatmentProcesses[0]?.treatmentProcessStatus?.name + ")") : "-"}}</td>
                <td>{{patient.creationTime | date: "dd.MM.yyyy"}}</td>
                <td>{{patient.creator?.name + (patient.creator?.surname ? (" " + patient.creator?.surname) : "")}}</td>
                <td class="text-right" *ngIf="isAllowedToManage">
                    <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2"
                        (onClick)="editPatient(patient.id)"></p-button>
                    <p-button pRipple icon="pi pi-trash" styleClass="p-button-rounded p-button-warning"
                        (onClick)="deletePatient(patient)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="m-3">
                {{ '::Table:EmptyMessage' | abpLocalization }}
            </div>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="totalRecords">
                {{ '::Table:Summary' | abpLocalization:(totalRecords) }}
            </div>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog [style]="{width: '450px'}" rejectLabel="{{ '::Reject' | abpLocalization }}"
    acceptLabel="{{ '::Accept' | abpLocalization }}" rejectButtonStyleClass="p-button-text p-button-danger"
    acceptButtonStyleClass="p-button-text p-button-success"></p-confirmDialog>